{% extends "spacescout_web/base-desktop.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script>
    window.by_building_zooms = {{ by_building_zooms }};
    window.by_distance_ratio = {{ by_distance_ratio }};
    if ($.cookie('initial_load')) {
        window.initial_load = false;
    } else {
        window.initial_load = true;
    }
    var failed = false;
    if ($.cookie('default_location')) {
        var defaults = $.cookie('default_location').split(',');
        if (defaults.length >= 4) {
            window.default_latitude = defaults[0];
            window.default_longitude = defaults[1];
            window.default_location = defaults[2];
            window.default_zoom = parseInt(defaults[3]);
        } else {
            $.removeCookie('default_location');
            failed = true;
        }
    } else {
        failed = true;
    }
    if (failed) {
        window.default_latitude = {{ center_latitude }};
        window.default_longitude = {{ center_longitude }};
        window.default_location = "{{ default_location }}";
        window.default_zoom = {{ zoom_level }};
    }
    var state = window.spacescout_url.parse_path(window.location.pathname);
    if (state.hasOwnProperty('search') && window.default_location != state.campus) {
        $('#location_select option').each(function (i) {
            var location = $(this).val().split(',');
            if (location[2] == state.campus) {
                $(document).ready(function () {
                    $('#location_select option:eq(' + i + ')').attr('selected', 'selected');
                });
                window.default_latitude = location[0];
                window.default_longitude = location[1];
                window.default_location = location[2];
                window.default_zoom = parseInt(location[3]);
            }
        });
    }
    window.spacescout_authenticated_user = '{{ username }}';
    window.spacescout_referrer = '{{ back }}';
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });
</script>
{% endblock %}

{% block content %}
{% load static %}
{% load i18n %}
{% load templatetag_handlebars %}

    <div id="nav">

        <div class="logo-container clearfix">

            <div class="logo">
                <h1 id="app_header" class="visuallyhidden">SPACESCOUT&trade;</h1>
            </div>
            <div class="location_container">
                {% ifnotequal locations|length 1 %}
                <span role="navigation" aria-labelledby="location_select_heading">
                <label id="location_select_heading" for="location_select"  class="visuallyhidden">Select campus:</label>
                <select id='location_select'>
                    {% for key, value in locations.items %}
                        <option value="{{ value.CENTER_LATITUDE }},{{ value.CENTER_LONGITUDE }},{{ key }},{{ value.ZOOM_LEVEL }}">{{ value.NAME }}</option>
                    {% endfor %}
                </select>
                </span>
                {% endifnotequal %}
            </div>
            <!-- hidden for now, until cool stuff for logged in users is finished.-->
            <div class="user_context">
                {% if user.is_authenticated %}
                  <span>{% trans 'greeting' %}&nbsp;{{ request.user }}</span>
                  <a href="/favorites">{% trans 'favorites' %} <span class="favorites_count_container"></span></a>
                  {% tplhandlebars "favorites_count" %}({{count}}){% endtplhandlebars %}
                  <span>|</span>
                  <a id="logout_button" href="/logout?next={% firstof request.path '/' %}">{% trans 'logout' %}</a>
                {% else %}
                  {% trans 'salutation' %}&nbsp;<a href="/login?next={% firstof request.path '/' %}">{% trans 'login' %}</a>
                {% endif %}
            </div>
            <!-- -->
        </div>
        <div class="filter_context" role= "search" aria-labelledby="filter_group_header">
          <h2 id="filter_group_header" class="visuallyhidden">Find Study Spaces by Specific Criteria</h2>
          <button id="filter_button" class="btn btn-inverse" type="button" aria-label="Filter settings..." aria-owns="filter_container" >{%trans 'filters' %}<i class="fa fa-angle-double-down"></i></button>

          <h3 id="spaces_match_header" class="visuallyhidden">Your current filters return:</h3>

          <div id="space_count_container" aria-labelledby="spaces_match_header" role="status"></div>
          {% tplhandlebars "space_count" %}
          <span class="count">{{count}}</span> {% trans 'spaces' %}
          {% endtplhandlebars %}
        </div>
      </div>
      <div id="filter_container" aria-labelledby="filters_header" aria-controls="space_count_container">
       <form>
         <div id="filter_block" style="display:none;">
           <h3 id="filters_header" class="visuallyhidden">Filter By:</h3>
           <div class="inner clearfix">
             <div class="inner-column">
               <div id="filter-clear">Filters Cleared</div>
               <div class="inner-block-left">
   			  {% include "spacescout_web/filters.html" %}
               </div>
             </div>
             <div class="inner-row">
               <button id="view_results_button" class="btn" type="button" aria-label="Apply Filters">Apply</button>
               <button id="cancel_results_button" class="btn" type="button" aria-label="Clear Filters">Reset</button>
             </div>
           </div>
         </div>
       </form>
    </div>
    <div id="main_content" class="clearfix" role="main" aria-labelledby="app_header">
<h2 id="map_header" class="visuallyhidden" aria-hidden="true">Map of Spaces</h2>
        <div id="map_canvas" aria-labelledby="map_header" aria-hidden="true"></div>
        {% tplhandlebars "map_controls" %}
            <div class="map-control-container">
                <a href="#" title="Recenter map"><img id="center_all" src="{% static 'img/center_all.png' %}" alt="Recenter map" name="image" style="display: none;" /></a>&nbsp;
            </div>
        {% endtplhandlebars %}

        {% tplhandlebars "space_details" %}
            <div class="space-detail-container">
                <div class="space-detail">
                    <div class="space-detail-inner" id="detail_container_{{id}}" aria-labelledby="space-detail-name" tabindex="0">
                        <div class="space-detail-header">
                          <div class="space-detail-fav space-detail-fav-unset pull-left"><i class="fa fa-heart-o"></i></div>
                          <h2 id="space-detail-name" class="space-detail-name"><span class="visuallyhidden">Space Details:</span> {{name}}</h2>
                          <div class="space-detail-type">{{type}} {{#if capacity }}<span class="space-detail-capacity">[Seats&nbsp;{{capacity}}]</span>{{/if}}</div>
                          <a class="close" href="#" title="close"><img alt="close details" src="{% static 'img/x.png' %}" /></a>
                        </div>
                        <div class="space-detail-body">


                            <div class="clearfix">

                                <div class="space-detail-body-inner pull-left">

                                    <div class="space-image">
                                        <div id="spaceCarouselContainer" class="image-container" role="tabpanel">
                                            <div id="myCarousel" class="carousel slide">
                                              <!-- Carousel items -->
                                              <div class="carousel-inner">

                                                <!-- TODO: do an each loop of some sort -->
                                                {{ carouselimages this }}

                                              </div>
                                              <!-- Carousel nav -->
                                              <a class="carousel-control left" href="#myCarousel" title="previous image" data-slide="prev">&lsaquo;</a>
                                              <a class="carousel-control right" href="#myCarousel" title="next image" data-slide="next">&rsaquo;</a>
                                            </div>
                                        </div>
                                        <div id="spaceMap" class="map-container" style="display:none;" role="tabpanel">map goes here</div>
                                    </div>

                                </div>
                                <div class="space-image-map-buttons btn-group pull-left" data-toggle="buttons-radio" role="tablist">
                                  <button id="carouselControl" class="btn active" role="tab" aria-selected="true" aria-controls="spaceCarouselContainer"><span>Image gallery</span></button>
                                  <button id="mapControl" class="btn" role="tab" aria-controls="spaceMap" aria-selected="false" data-location="[{{location.latitude}}, {{location.longitude}}]"><span>Show this space on a map</span></button>
                                </div>

                            </div>

                            <div style="margin: 0 20px 20px 20px;">

                                
                                <div class="space-info">
                                     <ul>

                                        {{#if has_notes }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Notes</h3>
                                            <div class="space-info-detail pull-left">
                                                {{#if extended_info.access_notes }}<p>{{extended_info.access_notes}}</p>{{/if}}
                                                {{#if extended_info.reservation_notes }}<p id="ei_reservation_notes">{{extended_info.reservation_notes }}</p>{{/if}}
                                            </div>
                                        </li>
                                        {{/if}}
                                        {{#if extended_info.labstats_id}}
                                            {{#if extended_info.auto_labstats_total}}
                                                {{#compare extended_info.auto_labstats_total 0 operator="!="}}
                                                    <li class="clearfix">
                                                        <h3 class="space-info-label pull-left">Computers</h3>
                                                        <div class="space-info-detail pull-left">

                                                        {{#compare extended_info.auto_labstats_available 0 operator=">"}}
                                                            <p><span class="computer-available">{{extended_info.auto_labstats_available}}</span> of {{extended_info.auto_labstats_total}} available</p>
                                                        {{^}}
                                                            <p><span class="computer-notavailable">{{extended_info.auto_labstats_available}}</span> of {{extended_info.auto_labstats_total}} available</p>
                                                        {{/compare}}
                                                        </div>
                                                    </li>
                                                {{/compare}}
                                            {{/if}}
                                        {{/if}}

                                        <li class="clearfix"><h3 class="space-info-label pull-left">Hours</h3><div class="space-info-detail pull-left">{{formatHours available_hours}}</div></li>
                                        <li class="clearfix"><h3 class="space-info-label pull-left">Location</h3><div class="space-info-detail pull-left">{{extended_info.location_description}}</div></li>
                                        {{#if has_resources }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Resources</h3>
                                            <div class="space-info-detail pull-left">
                                                <ul class='space-info-resources-list'>
                                                {{#if extended_info.has_computers }}<li>Computers</li>{{/if}}
                                                {{#if extended_info.has_displays }}<li>Display</li>{{/if}}
                                                {{#if extended_info.has_outlets }}<li>Outlets</li>{{/if}}
                                                {{#if extended_info.has_printing }}<li>Printing</li>{{/if}}
                                                {{#if extended_info.has_projector }}<li>Projector</li>{{/if}}
                                                {{#if extended_info.has_scanner }}<li>Scanning</li>{{/if}}
                                                {{#if extended_info.has_whiteboards }}<li>Whiteboards</li>{{/if}}
                                                </ul>
                                            </div>
                                        </li>
                                        {{/if}}

                                        {{#if extended_info.noise_level }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Noise Level</h3>
                                            <div class="space-info-detail pull-left">

                                                {{#compare extended_info.noise_level "quiet" operator="=="}}
                                                {% verbatim %}{% trans 'quiet' %}{% endverbatim %}
                                                  {{^}}
                                                        {{#compare extended_info.noise_level "moderate" operator="=="}}
                                                        {% verbatim %}{% trans 'moderate' %}{% endverbatim %}
                                                        {{^}}
                                                            {{#compare extended_info.noise_level "silent" operator="=="}}
                                                            {% verbatim %}{% trans 'silent' %}{% endverbatim %}
                                                            {{^}}
                                                            {% verbatim %}{% trans 'variable' %}{% endverbatim %}
                                                            {{/compare}}
                                                        {{/compare}}
                                                  {{/compare}}

                                            </div>
                                        </li>
                                        {{/if}}

                                        {{#if extended_info.has_natural_light }}
                                        <li class="clearfix"><h3 class="space-info-label pull-left">Lighting</h3><div class="space-info-detail pull-left">Natural light</div></li>
                                        {{/if}}


                                        {{#if extended_info.food_nearby }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Food/Coffee</h3>
                                            <div class="space-info-detail pull-left">

                                              {{#compare extended_info.food_nearby "building" operator="=="}}
                                                 {% verbatim %}{% trans 'building' %}{% endverbatim %}
                                              {{^}}
                                                    {{#compare extended_info.food_nearby "space" operator="=="}}
                                                    {% verbatim %}{% trans 'space' %}{% endverbatim %}
                                                    {{^}}
                                                    {% verbatim %}{% trans 'neighboring' %}{% endverbatim %}
                                                    {{/compare}}
                                              {{/compare}}

                                            </div>
                                        </li>
                                        {{/if}}

                                    </ul>
                                </div>

                                <div class="space-detail-share">
                                  <a id="share_space" href="javascript:void(0);"><i class="fa fa-envelope fa-lg"></i>Share this space</a>
                                </div>

                                <div class="space-detail-report">
                                    <a href="/contact/{{ id }}/">Report a problem with this space</a>
                                </div>

                                <div class="space-detail-footer">This space was last updated on {{last_modified}} by {% if organization %}{{ organization }}{%else%}UW-IT{% endif %}</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endtplhandlebars %}

        <div id="info_list">
        <h2 id="space_list_header" class="visuallyhidden">List of Spaces</h2>
            <div class="list-inner" aria-labelledby="space_list_header">
                <div class="list-arrow"><a id="filter_link" title="List of spaces" href="#"><img alt="" src="{{ STATIC_URL }}img/list.png" /></a></div>

                <!-- TODO: need to implement if/else logic for spinner and info_items -->
                <div class="loading"><div class="loading-inner" role="alert">&nbsp;&nbsp;Loading spaces...</div></div>

                <div id="info_items"></div>

                {% tplhandlebars "all_markers" %}

                        {{#if data}}<ol class="lazyload-view">
                        {{#each data}}
                 
                <!-- space list start -->
			    <li><h3 class="building_header">{{this.name}}</h3>
                            <ol>{{#each this.spots}}
                            <li class="clearfix view-details">
                                <div class="space-detail-list-image pull-left">
                                    {{#if images.0.id}}
                                    <div class="space-detail-list-image-inner lazyloader" data-src="space/{{id}}/image/{{images.0.id}}/thumb/constrain/width:150">&nbsp;</div>
                                    {{else}}
                                    <div class="space-detail-list-image-inner space-detail-no-image">&nbsp;</div>
                                    {{/if}}

                                </div>

                                <button id="{{id}}" class="space-detail-list-item pull-left" type="button" aria-label="Get space details for {{name}}" aria-owns="detail_container_{{id}}">
                                    <div class="space-detail-type clearfix">
                                    	<span class="space-detail-type-label pull-left">{{type}}</span>
                                        {{#if extended_info.labstats_id}}
                                            {{#if extended_info.auto_labstats_total}}
                                                {{#compare extended_info.auto_labstats_total 0 operator="!="}}
                                                    {{#compare extended_info.auto_labstats_available 0 operator=">"}}
                                                        <div class="space-detail-labstats pull-right"><p><span class="computer-available">{{extended_info.auto_labstats_available}}</span>/{{extended_info.auto_labstats_total}}</p></div>
                                                    {{^}}
                                                        <div class="space-detail-labstats pull-right"><p><span class="computer-notavailable">{{extended_info.auto_labstats_available}}</span>/{{extended_info.auto_labstats_total}}</p></div>
                                                    {{/compare}}
                                                {{^}}
                                                    <span class="space-detail-capacity pull-right">{{#if capacity }}Seats&nbsp;{{capacity}}{{/if}}</span>
                                                {{/compare}}
                                            {{else}}
                                                <span class="space-detail-capacity pull-right">{{#if capacity }}Seats&nbsp;{{capacity}}{{/if}}</span>
                                            {{/if}}
                                        {{else}}
                                           <span class="space-detail-capacity pull-right">{{#if capacity }}Seats&nbsp;{{capacity}}{{/if}}</span>
                                        {{/if}}
                                    </div>
                                    {% if user.is_authenticated %}<div class="space-detail-fav pull-right" style="display: none;"><i class="fa fa-heart"></i></div>{% endif %}
                                    <div class="space-detail-name">{{name}}</div>
                                    <div class="space-detail-desc">{{extended_info.location_description}}</div>
                                </button>
                            </li>
                            {{/each}}</ol>
                         </li>
                        {{/each}}
                        </ol>
                        {{else}}
                            <li class="no-spaces">Sorry, no spaces match your filters!</li>
                        {{/if}}

                {% endtplhandlebars %}

                {% tplhandlebars "cluster_list" %}

                        {{#if data }}<ol>
                        {{#each data}}
			    <li><h3 class="building_header">{{this.name}}</h3>
			    <ol>{{#each this.spots}}
                            <li class="clearfix view-details">
                                <div class="space-detail-list-image pull-left">
                                  {{#if images.0.id }}
                                    <div class="space-detail-list-image-inner lazyloader " data-src="space/{{id}}/image/{{images.0.id}}/thumb/constrain/width:150">&nbsp;</div>
                                  {{else}}
                                    <div class="space-detail-list-image-inner space-detail-no-image">&nbsp;</div>
                                  {{/if}}
                                </div>
                                <button  id="{{id}}" class="space-detail-list-item pull-left" type="button" aria-label="Get space details for {{name}}" aria-owns="detail_container_{{id}}">
                                    <div class="space-detail-type clearfix">
                                    	<span class="space-detail-type-label pull-left">{{type}}</span>
                                        {{#if extended_info.labstats_id}}
                                            {{#if extended_info.auto_labstats_total}}
                                                {{#compare extended_info.auto_labstats_total 0 operator="!="}}
                                                    {{#compare extended_info.auto_labstats_available 0 operator=">"}}
                                                        <div class="space-detail-labstats pull-right"><p><span class="computer-available">{{extended_info.auto_labstats_available}}</span>/{{extended_info.auto_labstats_total}}</p></div>
                                                    {{^}}
                                                        <div class="space-detail-labstats pull-right"><p><span class="computer-notavailable">{{extended_info.auto_labstats_available}}</span>/{{extended_info.auto_labstats_total}}</p></div>
                                                    {{/compare}}
                                                {{^}}
                                                   <span class="space-detail-capacity pull-right">{{#if capacity }}Seats&nbsp;{{capacity}}{{/if}}</span>
                                                {{/compare}}
                                            {{else}}
                                                <span class="space-detail-capacity pull-right">{{#if capacity }}Seats&nbsp;{{capacity}}{{/if}}</span>
                                            {{/if}}
                                        {{else}}
                                            <span class="space-detail-capacity pull-right">{{#if capacity }}Seats&nbsp;{{capacity}}{{/if}}</span>
                                        {{/if}}
                                    </div>
                                    <div class="space-detail-name">{{name}}</div>
                                    <div class="space-detail-desc">{{extended_info.location_description}}</div>
                                </button>
                            </li>
                            {{/each}}</ol>
                         </li>
                        {{/each}}</ol>
                        {{else}}
                            <li class="no-spaces">Sorry, no spaces match your filters!</li>
                        {{/if}}

                {% endtplhandlebars %}
            </div>
        </div>
    </div>

{% endblock %}
