{% extends "spacescout_web/base-desktop.html" %}

{% block extra_compress_css %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/favorites.less" media="screen, handheld" />
{% endcompress %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    var campus = '{{back}}'.match(/^\/([a-zA-Z]*)(|\/.*)$/)
    if (campus && campus[1]) {
        $('#location_select option[value*='+ campus[1].toLowerCase() + ']').attr('selected', 'selected');
    }

    window.spacescout_referrer = '{{ back }}';
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });
</script>
{% endblock %}

{% block content %}
{% load i18n %}
{% load templatetag_handlebars %}

    <div id="nav" class="favorites_nav">

      <div class="spacescout-header clearfix">
        <div class="logo-container">

            <div class="logo">
              <a href="{{ back }}" title="Spacesout home page"><div class="logo"><h1 class="visuallyhidden">SPACESCOUT&trade;</h1></div></a>
            </div>
            <div class="location_container">
                {% ifnotequal locations|length 1 %}
                <span aria-labelledby="location_select_heading">
                <label id="location_select_heading" for="location_select"  class="visuallyhidden">Select campus:</label>
                <select id="location_select" disabled>
                    {% for key, value in locations.items %}
                        <option value="{{ value.CENTER_LATITUDE }},{{ value.CENTER_LONGITUDE }},{{ key }},{{ value.ZOOM_LEVEL }}">{{ value.NAME }}</option>
                    {% endfor %}
                </select>
                </span>
                {% endifnotequal %}
            </div>
            </div>
            <!-- hidden for now, until cool stuff for logged in users is finished.-->
            <div class="user_context">
                {% if user.is_authenticated %}
                  <span>{% trans 'greeting' %}&nbsp;{{ request.user }}</span>
                  <a href="javascript:void(0);">{% trans 'favorites' %} <span class="favorites_count_container"></span></a>
                  {% tplhandlebars "favorites_count" %}({{count}}){% endtplhandlebars %}
                  <span>|</span>
                  <a href="/logout?next={{back}}">{% trans 'logout' %}</a>
                {% else %}
                  {% trans 'salutation' %}&nbsp;<a href="/login?next={% firstof request.path '/' %}">{% trans 'login' %}</a>
                {% endif %}
            </div>
            <!-- -->
        </div>

        <div class="favorites-header"><span></span></div>
        <div class="favorites" role="main" aria-labelledby="favorites-tally">
          <div class="navigation">
            <a href="{{back}}" title="Go back to map">Back to Map</a>
          </div>

          <h2 id="favorites-title" class="page-title">Favorites</h2>
          <div id="favorites-tally" role="status" class="favorites-total" aria-labelledby="space_details_page" aria-control=""><span class="favorites_total_container">favorite spaces</span></div>
          
          {% tplhandlebars "favorites_total" %}{{ total }} favorite space{{ plural }}{% endtplhandlebars %}
          
          <div id="space_details_page" role="list" class="favorites_card_container favorites_blank_container"></div>

          
        </div>
    </div>

{% tplhandlebars "campus_label" %}
<h3 class="group">{{ campus }}</h3>
{% endtplhandlebars %}

{% tplhandlebars "blank_card" %}
<div id="space-detail-blank" class="space-detail-container">
    <div class="space-detail">
        <div class="space-detail-inner">
          <i class="fa fa-heart fa-4x"></i>
          <a href="{{ back }}" title="Click to go to map">Discover spaces</a> and add to your list. 
        </div>
    </div>
</div>
{% endtplhandlebars %}

{% include "spacescout_web/favorites-card.html" %}

{% include "spacescout_web/reviews.html" %}

{% if user.is_authenticated %}
<script type="text/javascript">
  window.spacescout_csrf_token = '{{ csrf_token }}';
  window.spacescout_static_url = '{{ STATIC_URL }}';
</script>
{% endif %}

{% endblock %}
