{% load templatetag_handlebars %}

{% tplhandlebars "favorites_card" %}
<div class="space-detail-container">
    <div class="space-detail" role="listitem" aria-labelledby="space-name">
        <div class="space-detail-inner">
            <div id="spot_{{ id }}" class="space-detail-header clearfix">
              <div class="space-detail-building"> {{ location.building_code }}</div>
              <div id="name-type-block" class="pull-left">
                <h4 id="space-name" class="space-detail-name"><span class="visuallyhidden">Space Details: </span>{{ name }}</h4>
                <div class="space-detail-type">{{{ type }}} {{#if capacity }}<span class="space-detail-capacity">[Seats&nbsp;{{capacity}}]</span>{{/if}}</div>
                <div class="space-detail-tick space-detail-is-open" style="display: none;">OPEN</div>
                <div class="space-detail-tick space-detail-is-closed" style="display: none;">CLOSED</div>
                <div>
                  <span class="space-stars">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                  <span id="space-average-rating-text" class="visuallyhidden">There are no reviews for {{ name }}</span>
                  <span id="review_count"></span>
                  <a class="space-detail-fav space-detail-fav-button pull-right space-detail-fav-set" href="javascript:void(0);" data-id="{{ id }}" title="Click to remove {{ name }} from Favorites" role="button" aria-controls="favorites-tally"><i class="fa fa-heart"></i><span> Favorited</span></a>
                </div>
              </div>
            </div>
            <div class="space-detail-body">
                <div class="space-detail-body-inner">
                    <div id="spaceCarouselContainer" class="image-container" role="tabpanel">
                        <div id="spaceCarousel" class="carousel slide">
                          <!-- Carousel items -->
                          <div class="carousel-inner"></div
                          <!-- Carousel nav -->
                          <a class="carousel-control left" href="#spaceCarousel" data-slide="prev">&lsaquo;</a>
                          <a class="carousel-control right" href="#spaceCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>
                    <div id="spaceMap" class="map-container" style="display:none;" role="tabpanel"></div>
                </div>
            </div>

            <div class="space-image-map-buttons btn-group" data-toggle="buttons-radio" role="tablist">
              <button id="carouselControl" class="btn active" role="tab" aria-controls="spaceCarouselContainer" aria-selected="true"><span>Image gallery</span></button>
              <button id="mapControl" class="btn" role="tab" aria-controls="spaceMap" aria-selected="false" data-location="[{{location.latitude}}, {{location.longitude}}]"><span>Show this space on a map</span></button>
            </div>


            <div class="space-info">
              <div class="space-info-hours-today">
                Today's hours: <span></span>
              </div>
              <div class="space-info-reservation-cue" style="display: none;"></div>
              <div class="space-info-more-detail">
                <a href="javascript:void(0);"><i class="fa fa-angle-double-down"></i> Show more detail about this space</a>
              </div>
              <ul style="display: none;">

                            {{#if has_notes }}
                            <li class="clearfix">
                                <div class="space-info-label pull-left">Notes</div>
                                <div class="space-info-detail pull-left">
                                    {{#if extended_info.access_notes }}<p>{{extended_info.access_notes}}</p>{{/if}}
                                    {{#if extended_info.reservation_notes }}<p class="ei_reservation_notes">{{extended_info.reservation_notes }}</p>{{/if}}
                                </div>
                            </li>
                            {{/if}}
                            {{#if extended_info.labstats_id}}
                                {{#if extended_info.auto_labstats_total}}
                                    {{#compare extended_info.auto_labstats_total 0 operator="!="}}
                                        <li class="clearfix">
                                            <div class="space-info-label pull-left">Computers</div>
                                            <div class="space-info-detail pull-left">

                                            {{#compare extended_info.auto_labstats_available 0 operator=">"}}
                                                <p><span class="computer-available">{{extended_info.auto_labstats_available}}</span> of {{extended_info.auto_labstats_total}} available</p>
                                            {{^}}
                                                <p><span class="computer-notavailable">{{extended_info.auto_labstats_available}}</span> of {{extended_info.auto_labstats_total}} available</p>
                                            {{/compare}}
                                            </div>
                                        </li>
                                    {{/compare}}
                                {{/if}}
                            {{/if}}

                            <li class="clearfix">
                            	<div class="space-info-label pull-left">Hours</div>
								<div class="space-info-detail pull-left">{{formatHours available_hours}}</div>
                            </li>

                            <li class="clearfix"><div class="space-info-label pull-left">Location</div>
                              <div class="space-info-detail pull-left">{{extended_info.location_description}}</div>
                            </li>

                            {{#if has_resources }}
                            <li class="clearfix">
                                <div class="space-info-label pull-left">Resources</div>
                                <div class="space-info-detail pull-left">
                                    <ul class='space-info-resources-list'>
                                    {{#if extended_info.has_computers }}<li>Computers</li>{{/if}}
                                    {{#if extended_info.has_displays }}<li>Display</li>{{/if}}
                                    {{#if extended_info.has_outlets }}<li>Outlets</li>{{/if}}
                                    {{#if extended_info.has_printing }}<li>Printing</li>{{/if}}
                                    {{#if extended_info.has_projector }}<li>Projector</li>{{/if}}
                                    {{#if extended_info.has_scanner }}<li>Scanning</li>{{/if}}
                                    {{#if extended_info.has_whiteboards }}<li>Whiteboards</li>{{/if}}
                                    </ul>
                                </div>
                            </li>
                            {{/if}}

                            {{#if extended_info.noise_level }}
                            <li class="clearfix">
                                <div class="space-info-label pull-left">Noise Level</div>
                                <div class="space-info-detail pull-left">{{ extended_info.noise_level }}</div>
                            </li>
                            {{/if}}

                            {{#if extended_info.has_natural_light }}
                            <li class="clearfix"><div class="space-info-label pull-left">Lighting</div><div class="space-info-detail pull-left">Natural light</div></li>
                            {{/if}}


                            {{#if extended_info.food_nearby }}
                            <li class="clearfix">
                                <div class="space-info-label pull-left">Food/Coffee</div>
                                <div class="space-info-detail pull-left">{{ extended_info.food_nearby }}</div>
                            </li>
                            {{/if}}
                <li>

                  <div class="space-detail-share">
                    <a class="share_space" href="/share/{{ id }}"><i class="fa fa-share"></i>Share this space</a>
                  </div>

				  <ol class="space-ratings-and-reviews">
                    <li class="loading"></li>
                  </ol>

                  <div class="space-info-less-detail">
                    <a href="javascript:void(0);"><i class="fa fa-angle-double-up"></i> Show less detail about this space</a>
                  </div>
                </li>
              </ul>
            </div>

        </div>
    </div>
</div>
{% endtplhandlebars %}

{% tplhandlebars "mobile_hours" %}
<div class="space-info-label pull-left">Hours</div><div class="space-info-detail pull-left">{{formatHours available_hours}}</div>
{% endtplhandlebars %}

{% tplhandlebars "images_template" %}
{{# each data }}
<div class="carousel-inner-image item">
  <div class="carousel-inner-image-inner" style="background:url('/image/space/{{ id }}/{{ image_id }}/thumb/constrain/width:268,height:180') no-repeat 50% 50%; background-size:100%;">&nbsp;</div>
</div>
{{/each}}
{% endtplhandlebars %}

{% tplhandlebars "no_images_template" %}
<div class="carousel-inner-image item">
  <div class="carousel-inner-image-inner space-detail-no-image-full">&nbsp;</div>
</div>

{% endtplhandlebars %}
{% tplhandlebars "reservation_cue" %}
<a href="{{ url }}" target="_blank">Reserve this space online... <i class="fa fa-external-link"></i></a>
{% endtplhandlebars %}


