{% extends "spacescout_web/suggest.html" %}

{% block suggest-content %}

    {% if not is_mobile %}<h2 class="suggest-header">Suggest a Space</h2>{% endif %}

    <form action="/suggest/" method="post">{% csrf_token %}
        <div class="fieldWrapper">
            {{ spot_name }}<br />
            {{ spot_description }}
        </div>
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.name == "email_confirmation" or field.name == "back" %}
                <div style="display: None;">
                    LEAVE BLANK {{ field }}
                </div>
            {% else %}
                <div class="fieldWrapper">
                    {% if field.field.required %}
                       <label for="id_{{field.name}}">{{field.label}}<span class="required">*</span>
                    {% for error in field.errors %}
                        <span class="alert-error">{{ error|escape }}</span>
                    {% endfor %}
                </label>
                {% else %}
                    {{ field.label_tag }}
                {% endif %}
                {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="fieldWrapper">
        <input type="submit" value="Send" class="btn primary-button singleSubmit-button"/>
    </div>
    </form>
{% endblock %}
