/* Less Variables */

@purple_text: #4c497e;
@grey_light: #b2b2b2;
@grey_dark: #4d4d4d;
@grey_border: #d6d6d6;
@grey_background: #e5e5e5;


body {
    //min-height: 420px;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    /*font-family: Helvetica, Arial, "Lucida Grande", sans-serif;*/
    background-color: @grey_background;
}

button {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    border-color: #3e3e3e !important;
}



#container { max-width: 768px; margin: 0 auto; position: relative; }

#nav { z-index: 1;

    .logo-container { background-color: #ccc; }
    .logo { height: 50px; line-height: 50px; width: 130px; float:left; background: url('/static/img/logo_retina.png') no-repeat 10px 50%; background-size: 90%; position: relative; }

    #bubble_desktop { display: none; }

    .bubble-inner { background-color:#fff; border: solid 1px @grey_border;

        .bubble-tab { width:15px; background: transparent url('/static/img/tri-up.png') no-repeat; position:absolute; top: -7px; right: 15px; text-indent: -9999px; }
        .bubble-filters { width: 82%; background: #fff url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 15px;
            ul { list-style: none; margin: 0; margin-left: 4px; margin-top: 4px; height: 28px; overflow: hidden; background-color: #fff;
                li { display: inline-block; background-color: #eee; padding: 2px 5px; margin-bottom: 4px; font-size: 11px; }
            }
        }
        .bubble-info { width: 50px; height:32px; background: #e5e5e5 url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 15px;
            .count { display: block; padding: 4px; text-align: center; font-weight: bold; color: @purple_text; font-size: 20px; margin-top: 1px; background-color: #e5e5e5; }
            .spaces { display: block; text-align: center; font-size: 11px; text-transform: uppercase; color: @grey_light; background-color: #e5e5e5; }
        }
    }

    .actions { width: auto; float: right; text-align: right; height: 50px; line-height: 50px; margin-right: 10px;

        #filter_button { background:#514d83 url('/static/img/down.png') no-repeat 8px 50%; display:inline-block; color: #8987ab; width: 30px; text-indent: -999px; }
        #view_results_button { background:#514d83 url('/static/img/check.png') no-repeat 10px 50%; display: none; color: #8987ab; width: 30px; text-indent: -999px; }
        #cancel_results_button { background: #e4e4e4 url('/static/img/cross.png') no-repeat 10px 50%; display: none; color: #646464; width: 30px; text-indent: -999px; }

        #back_home_button { background:#514d83 url('/static/img/left.png') no-repeat 8px 50%; display:inline-block; color: #8987ab; width: 30px; text-indent: -999px; }
    }
    #bubble_mobile {  margin: 10px 10px 5px 10px; }
}

 #filter_container { position: relative; margin: 0 10px;

        #filter_block { display:none; background-color:#222; color: #666; overflow-y: auto; -webkit-overflow-scrolling: touch;

            .inner { padding: 15px; }

            .choice-group { /*border: solid 1px rgba(241,241,12,0.3);*/ margin-bottom: 20px;
                .checkbox.inline { margin-left: 0; margin-right: 10px; }
            }

            .selected { color: #fff; }

            h4 { color: #8681b9; border-top: 1px dotted #aaa; margin: 0; font-size: 15px; line-height: 18px; padding-top: 10px; }

            h5 { color: #fff; font-size: 13px; line-height: 14px; margin: 0 0 5px 0;
                span { font-weight: normal; font-size: 12px; }
            }
            em { color: #fff; }

            #filter_space_types, #filter_equipment_types {
                .checkbox { white-space: nowrap; line-height: 30px;  padding-top: 0; margin-bottom: 0;
                   input[type="checkbox"] { margin-top: -3px; width: 17px; height: 17px; float: none; }
                }
            }
            #filter_reservability, #filter_noise_level, #filter_food_coffee, #filter_lighting {
                .checkbox { width: auto; margin-right: 15px; white-space: nowrap; line-height: 30px; padding-top: 0;
                    input[type="checkbox"] { margin-top: -3px; width: 17px; height: 17px; float: none; }
                }
            }

            #filter_location, #filter_hours {
                .radio { width: auto; margin-right: 15px; white-space: nowrap; line-height: 30px; padding-top: 0; margin-left: 0;
                    input[type="radio"] { margin-top: -3px; width: 15px; height: 15px; float: none; }
                }

                .building-location { width: 100%; }
            }

            #filter_hours {
                .hours-from, .hours-until { display: block; }
                select { width: 33%; }
                .ampm { width: 60px; }
            }


            .filter-submit { background-color: #000; text-align: center; padding: 15px;
                .btn { background: yellow; color: #111; }
                .btn-link { background: transparent; color: #fff; text-shadow: none; }
            }
        }

        form { margin: 0px; }

        /*#filter_button_container { height: 35px; width: 35px; text-align:center; line-height:35px; position:absolute; right:0; top: -42px; z-index: 999; cursor: pointer;
            .filter-button-text { display: none; }
            #filter_button { background-color:#514d83; display:inline-block;padding: 0 10px; }
        }*/
    }

/* mobile only: space details page */
#space_details_header { margin: 10px;
    .space-detail-type { font-size: 14px; color: @grey_dark;
        .space-detail-capacity { color: @grey_light; font-size: 11px; text-transform: uppercase; display: inline-block; margin-left: 5px; }
    }
    .space-detail-name { font-size: 20px; margin: 5px 0;  color: @purple_text; width:85%; }
    img { margin-top:8px; }
}

#space_details_page { position: relative; margin: 10px;

    #space_detail_container {

        .space-detail { color: #333;

            .space-detail-inner {

                .space-detail-body {

                    .space-detail-body-inner { background: #fff; border: solid 1px @grey_border; padding: 5px;

                        .image-container, .map-container { max-height: 303px !important; }

                        .image-container {
                            .carousel { background: #f8f8f8 url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 20px;  margin: 0; }
                        }

                        .map-container { background: #f8f8f8 url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 20px; }
                     }
                }

                .space-info-header { color: @purple_text; margin-top:-20px; }
                .space-info { margin-top: 20px;
                    ul { margin: 0; }
                    li { list-style: none; margin-bottom: 5px;
                      .space-info-label { width: 35%; margin-right: 10px; color: @grey_light; overflow: hidden; text-overflow: ellipsis; }
                      .space-info-detail { width: 60%; }
                    }
                }

                .space-image-map-buttons { text-align:right; margin: -1px 0 0 0;
                    button { border: solid 1px @grey_border !important; padding: 4px 7px; }
                    button.active { background-color: #fff; border-top: solid 1px #fff !important; }

                    #carouselControl span { background: transparent url('/static/img/gallery_grey.png') no-repeat 50% 50%; display: inline-block; text-indent: -9999px; width: 30px; height: 25px; }
                    #carouselControl.active span { background: transparent url('/static/img/gallery_purple.png') no-repeat 50% 50%; }
                    #mapControl span { background: transparent url('/static/img/locate_grey.png') no-repeat 50% 50%; display: inline-block; text-indent: -9999px; width: 30px; height: 25px; }
                    #mapControl.active span { background: transparent url('/static/img/locate_purple.png') no-repeat 50% 50%; }
                }

                .space-detail-report { text-align:center;margin-top:20px;
                    a, a:visited { vertical-align:bottom; color: @purple_text; }
                }
                .space-detail-footer { text-align: center; font-size: 12px; color: @grey_light; height: 50px; padding-top: 10px; }
            }
        }
    }

}

#main_content { margin: 0 10px 10px 10px; padding: 10px; border: solid 1px @grey_border; background-color: #f7f7f7; }

#map_canvas {
    /*min-height: 220px;*/
    background: #f7f7f7 url('/static/img/spinner.gif') no-repeat 50% 50%;
    background-size: 20px;

    .map-control-container { position: absolute; top:0; right: 0; width: auto; z-index: 1; text-align: right; padding: 7px;
        #center_all, #center_me { cursor: pointer; }
    }
}

#info_list {
    position: relative;
    padding: 0;
    height: 300px;
    background-color: #ededed;
    border-top: solid 1px @grey_border;
    margin: -10px;
    margin-top: 10px;

    /*box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);*/

    .list-inner { border: solid 10px #ededed; }

    .list-arrow { background-color: #ededed; position:absolute; top: -31px; z-index:1000; width:45px; line-height: 30px; left:50%; margin-left:-22.5px; text-align:center;

        border-left: solid 1px @grey_border;
        border-top: solid 1px @grey_border;
        border-right: solid 1px @grey_border;

        #filter_link { display: block; width: 45px; height: 30px; }
    }

    /* list of spaces */
    #info_items {
        ul { margin: 0;

            .view-details { cursor: pointer;
                button {
                    border: none !important;
                    background: none !important;
                    text-align: left !important;
                    padding: 0 !important;
                }
            }

            li { background-color: #fff; color: #000; list-style: none; margin-bottom: 0px; padding: 10px; border-left:solid 1px @grey_border; border-right:solid 1px @grey_border; border-bottom:solid 1px @grey_border;

                .space-detail-list-image { margin-right: 10px; display: inline-block; width: 100px;
                        .img { width: 100px; height: 67px; background: #eee url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 15px;}
                    }

                .space-detail-list-item { width: 37%; display: inline-block;
                    .space-detail-capacity { color: @grey_light; font-size: 11px; display: inline-block; text-transform: uppercase; }
                    .space-detail-type-label { display: inline-block; width: 55%; overflow: hidden; text-overflow: ellipsis;  background-color: yellow; }
                    .space-detail-type { color: @grey_dark;  white-space: nowrap; overflow:hidden; text-overflow: ellipsis; }
                    .space-detail-name { font-size: 17px; line-height: 28px; white-space: nowrap; overflow:hidden; text-overflow: ellipsis; color: #000; }
                    .space-detail-desc { white-space: nowrap; overflow:hidden; text-overflow: ellipsis; color: @grey_light; }
                }
            }
            li:first-child { border-top:solid 1px @grey_border; }
            li.no-spaces { background: none; border: none; color: #333; padding: 5px; }
        }
    }
}


#ios_callout { position:absolute; top: 0; bottom: 0; left:0; right:0; background: black; z-index: 2000; display:none; background: rgba(0, 0, 0, 0.6);

    .ios-inner-container { position: absolute; height: 150px; top: 70px; left: 20px; right: 20px; margin-bottom: 100px; background-color: #fff; padding: 20px; color: #000; text-align: center;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 1px 1px 6px rgba(0,0,0, 0.5);
        -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);

        p { font-weight: bold; margin: 20px 0; }
        button { width: 100%; margin-bottom: 10px; }

        #download_native { background:#514d83; color: #8987ab;  }
        #continue_webapp { color: #646464; }
    }
}


#footer { margin: 15px 10px 10px 10px; font-size: 11px; line-height: 14px; background: url('/static/img/w.png') no-repeat;

    .copyright { margin-left: 45px; margin-bottom: 10px; }
    .partners { margin-left: 45px; color: #aaa; }
}

.loading {
    .loading-inner { padding: 0 10px 10px 10px; }
    img { width: 20px;}
}

.back-top { line-height: 35px; text-align: center;
    #top_link { background:#514d83; display:inline-block; color: #8987ab; }
}


.contact-header { font-size: 20px; margin: 5px 0;  color: @purple_text; width:85%; }


/* Override default Bootstrap Popover styles */

.close, .close:hover { opacity: 1; }

.popover { background-color: #333 !important; color: #fff;
    -webkit-box-shadow:  0px 4px 5px 1px rgba(0, 0, 0, .2);
    box-shadow:  0px 4px 5px 1px rgba(0, 0, 0, .2);

    .arrow { border-bottom-color: #333 !important; }

    ul { margin: 0; padding: 0; }
    li { list-style: none; margin-bottom: 8px;  }
}


.popover-title { display: none; }

.popover-mobile-override {
    left: 13px !important;
    right: 13px !important;
    width: auto !important;

    .arrow { display: none !important; }
}

select {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.carousel-control { top: 50% !important; border: 2px solid #fff; }
.carousel-inner img { max-width: 100% !important; margin: 0 auto; }


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* iphone portrait */
@media screen and (min-width: 320px) {

    #nav {

        .actions {
            #back_home_button { width: 84px; padding-left: 25px; text-indent: 0; }
            #filter_button { width: 84px; padding-left: 30px; text-indent: 0; }
            #view_results_button {  width: 84px; padding-left: 30px; text-indent: 0; }
            #cancel_results_button { width: 84px; padding-left: 30px; text-indent: 0; }
        }

        #filter_container {
            #filter_block {
                #filter_hours {
                    .hours-from, .hours-until { display: inline-block; width: 35px; }
                    select { width: 31%; }
                }
            }
        }
    }

    #map_canvas {
        /*min-height: 280px;*/
    }

    #info_list {
        #info_items {
            ul {
                li {
                    .space-detail-list-item { width: 57%; }
                }
            }
        }
    }

}

/* Target Androids */
@media screen and (min-width: 480px) {

    #nav {
        #filter_container {
            #filter_block {
                #filter_hours {
                    select { width: 38%; }
                }
            }
        }
    }

    #map_canvas {
        /*min-height: 400px;*/
    }

    #info_list {
        #info_items {
            ul {
                li {
                    .space-detail-list-item { width: 73%; }
                }
            }
        }
    }

}



