body {
    background-color: silver;
}


#nav {

    background-color: black;


    .logo { height: 80px; line-height: 80px;     color: purple; }

    #filter_container { position: relative;


        #filter_block { display:none; height: 600px; background-color:#222; color: #fff; }
        #filter_button_container { height: 20px; text-align:center; line-height:20px; position:absolute; left:0; right:0; bottom:-20px; z-index: 999;
            #filter_button { background-color:#000; display:inline-block;padding: 0 10px; }
        }
    }
}

#map_canvas {
    height: 300px;
}

#info_list {
    padding: 0;
    height: 300px;

    /* list of spaces */
    ul { margin: 10px;

        li { background-color: #fff; color: #000; list-style: none; margin-bottom: 10px; padding: 20px; }
    }
}