body {
    background-color: lime;
}


#nav {
    background-color: black;
    height: 80px;

}

#map_canvas {
    height: 300px;
}

#info_list {
    background-color: silver;
    padding: 0;
    height: 300px;
}

h1 {font-size: 1.2em;}

