@media screen and (min-width: 768px) {

    body { background-color: yellow; }

    #map_canvas {
        width: 80%;
        float: left;
    }

    #info_list {
        width: 20%;
        float: right;
    }

}