@media screen and (min-width: 768px) {

    #nav {

        .logo { height: 80px; line-height: 80px; background: url('/static/img/spacescout_logo.png') no-repeat 0px 50%; background-size: auto; }

        #filter_container {
             position:absolute; top:80px; left:0; right:0;  z-index:1000; margin: 0;

             #filter_block { background: rgba(0, 0, 0, 0.9);

                h2 { border: none; padding-top: 0;}

                .inner-column { width: 33.3%; float: left;
                    .inner-block-left { padding-right: 20px; }
                    .inner-block-right { padding-left: 20px; }
                }

                #filter_hours {
                    select { width: 40.6%; }
                }

                .filter-submit { text-align: right; }

            }

            #filter_button_container { /*height: 30px; width: auto; text-align:center; line-height:30px; position:absolute; left:0; right:0; top: auto; bottom:-30px; z-index: 999;*/ width: auto; top: -60px;
                .filter-button-text { display: inline-block; margin-left: 3px; color: #eee; }
                #filter_button { display:inline-block;padding: 0 10px; }
            }

        }

    }

    #main_content { margin: 0; }
    #map_canvas {
        width: 62%;
        float: left;

        // copy the following block and make sure that mobile.less contains the "mobile" version
        #space_detail_container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1;
            display: none;

            .space-detail { display: none; background: #fff url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 20px; position: absolute;  color: #333; /*width: 470px; top: 5px; bottom: 5px; right: 5px;*/ top: 10px; bottom: 10px; left: 10px; right: 0px; margin-right: 10px;

                /*-webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;*/

                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 1px 1px 6px rgba(0,0,0, 0.5);
                -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);

                .space-detail-inner { display:none; padding: 15px; background-color: #fff;

                    .space-detail-header { position: relative; height: 60px;
                        .space-detail-type { color: #666; }
                        .space-detail-name { font-size: 20px; color: #000; margin: 5px 0; }
                        .close { position: absolute; right: 0; top: 0; float: none; }
                    }
                    .space-detail-body { overflow-y: auto; border-top: solid 1px #eee; border-bottom: solid 1px #eee; padding: 10px 0;
                        .space-detail-body-inner {

                            .image-container, .map-container { width: 80%; margin: 0 auto; }
                            .image-container {
                                .carousel { margin: 0; background: #f8f8f8 url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 20px; }
                            }

                            .space-image { }

                            .map-container { background: #f8f8f8 url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 20px; }

                            .space-info {
                                ul { margin: 0; }
                                li { list-style: none; margin-bottom: 5px;
                                  .space-info-label { width: 35%; margin-right: 10px; color: #ccc; overflow: hidden; text-overflow: ellipsis; }
                                  .space-info-detail { width: 60%; }
                                }
                            }

                            .space-image-map-buttons { text-align:center; margin: 5px 0; }

                        }
                    }
                    .space-detail-footer { text-align: center; font-size: 12px; color: #ccc; height: 50px; }
                }
            }
        }
    }

    #info_list {

        width: 38%;
        float: right;
        overflow-y: auto;
        border: none;
        border-left: solid 1px #d6d6d6;
        margin-top: -10px;

        .list-arrow { display: none; }

        #info_items {
            ul { margin: 0px;
                li {
                    .space-detail-list-item { width: 55%; }
                }

                li.selected { background-color: #6160a2;
                    .space-detail-type { color: #ccc; }
                    .space-detail-name { color: #fff; }
                }
            }
        }
    }

    #footer { margin: 15px 0 0 0;
        .copyright { width: 30%; }
        .partners { width: 60% }
    }


    .back-top { display: none; }

    .loading {  }
}



/* Target Androids */
@media screen and (min-width: 1024px) {

    #nav {
        #filter_container {
            #filter_block {
                #filter_hours {
                    select { width: 43%; }
                }
            }
        }
    }

    #map_canvas {
        #space_detail_container {
            .space-detail {
                .space-detail-inner {
                    .space-detail-body {
                        /*.space-detail-body-inner {
                            .space-image { float: left; width: 50%; margin-right: 20px }

                            .space-info { float: left; width: 45%;
                                ul { margin: 0; }
                                li { list-style: none; margin-bottom: 5px;
                                  .space-info-label { width: 35%; margin-right: 10px; color: #ccc; overflow: hidden; text-overflow: ellipsis; }
                                  .space-info-detail { width: 60%; }
                                }
                            }
                        }*/
                    }
                }
            }
        }
    }

    #info_list {
        #info_items {
            ul {
                li {
                    .space-detail-list-item { width: 65%; }
                }
            }
        }
    }

}

/* Target Androids
@media screen and (min-width: 1280px) {

    #nav {
        #filter_container {
            #filter_block {
                #filter_hours {
                    select { width: 44.4%; }
                }
            }
        }
    }

    #map_canvas {
        #space_detail_container {
            .space-detail {
                .space-detail-inner {
                    .space-detail-body {
                        .space-detail-body-inner {
                            .space-image { float: left; width: 50%; margin-right: 20px }

                            .space-info { float: left; width: 45%;
                                ul { margin: 0; }
                                li { list-style: none; margin-bottom: 5px;
                                  .space-info-label { width: 35%; margin-right: 10px; color: #ccc; overflow: hidden; text-overflow: ellipsis; }
                                  .space-info-detail { width: 60%; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #info_list {
        #info_items {
            ul {
                li {
                    .space-detail-list-item { width: 75%; }
                }
            }
        }
    }

}
*/



/* Override default Bootstrap Popover styles */
.popover { width: 600px; }

.popover-desktop-override {
    top: 150px !important;
    .arrow { /*top: 20px !important;*/ display: none !important; }
}