@media screen and (min-width: 768px) {

    #nav {

        .logo { height: 80px; line-height: 80px; font-size: 24px; }

        #filter_container {
             position:absolute; top:80px; left:0; right:0;  z-index:1000;

             #filter_block { background: rgba(0, 0, 0, 0.9);

                h2 { border: none; padding-top: 0;}

                .inner-column { width: 33.3%; float: left;
                    .inner-block-left { padding-right: 20px; }
                    .inner-block-right { padding-left: 20px; }
                }

                #filter_hours {
                    select { width: 40.6%; }
                }

                .filter-submit { text-align: right; }

            }

            #filter_button_container { height: 30px; width: auto; text-align:center; line-height:30px; position:absolute; left:0; right:0; top: auto; bottom:-30px; z-index: 999;
                .filter-button-text { display: inline-block; margin-left: 3px; color: #eee; }
                #filter_button { background-color:#000; display:inline-block;padding: 0 10px;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow: 1px 1px 3px rgba(0,0,0, 0.5);
                    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
                }
            }

        }

    }

    #map_canvas {
        width: 62%;
        float: left;

        #space_detail_container {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.6);
            z-index: 1;
            display: none;

            .space-detail { display: none; background: #fff; position: absolute; width: 470px; color: #333; top: 5px; bottom: 5px; right: 5px;

                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;

                box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 1px 1px 6px rgba(0,0,0, 0.5);
                -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);

                .loading { position: absolute; top: 45%; background: transparent url('/static/img/spinner.gif') no-repeat 50% 50%; background-size: 20px; text-align: center; left: 0; right: 0; display: none; }
                .space-detail-inner { display:none; padding: 15px;

                    .space-detail-header { position: relative; height: 60px;
                        .space-detail-type { color: #666; }
                        .space-detail-name { font-size: 20px; color: #000; margin: 5px 0; }
                        .close { position: absolute; right: 0; top: 0; float: none; }
                    }
                    .space-detail-body { overflow-y: auto;
                        .space-detail-body-inner { min-height: 700px;

                            .image-container, .map-container { width: 440px; background-color: yellow; }
                            .image-container {  }
                        }
                    }
                    .space-detail-footer { text-align: center; font-size: 12px; color: #ccc; line-height: 30px; }
                }
            }
        }
    }

    #info_list {

        width: 38%;
        float: right;
        overflow-y: auto;
        background-color: #fff;
        border: none;

        .list-inner { border-left: solid 10px silver; border-right: solid 10px silver; }

        .list-arrow { display: none; }

        #info_items {
            ul { margin: 0px;
                li {
                    .space-detail-list-item { width: 55%; }
                }
            }
        }
    }

    .back-top { display: none; }

    .loading {  }
}



/* Target Androids */
@media screen and (min-width: 1024px) {

    #nav {
        #filter_container {
            #filter_block {
                #filter_hours {
                    select { width: 43%; }
                }
            }
        }
    }

    #info_list {
        #info_items {
            ul {
                li {
                    .space-detail-list-item { width: 65%; }
                }
            }
        }
    }

}

/* Target Androids */
@media screen and (min-width: 1280px) {

    #nav {
        #filter_container {
            #filter_block {
                #filter_hours {
                    select { width: 44.4%; }
                }
            }
        }
    }

    #info_list {
        #info_items {
            ul {
                li {
                    .space-detail-list-item { width: 75%; }
                }
            }
        }
    }

}




/* Override default Bootstrap Popover styles */
.popover { width: 600px; }

.popover-desktop-override {
    top: 150px !important;
    .arrow { /*top: 20px !important;*/ display: none !important; }
}