/* start overriding the mobile styles */
@media screen and (min-width: 768px) {

    body { background-color: yellow !important; }
    #container { min-width:748px; max-width:1024px; margin: 0px; }

}