{% extends "spacescout_web/base-mobile.html" %}
{% load static %}

{% block content %}

    <div id="nav" style="position:relative;">
        <div class="clearfix">
            <div class="logo"><h1 class="visuallyhidden">SPACESCOUT&trade;</h1></div>
            <div class="actions">
                <a href='/' title="back"><img id="back_to_space_button" src="{% static 'img/details_arrow.png' %}" alt="Back"/></button></a>
            </div>
        </div>
    </div>
    <div id="main_content" role="main" aria-labelledby="404_header">


        <div style="padding:10px;">
        <h2 id="404_header" class="contact-header pull-left" style="width:auto;">Page Not Found (404)</h2>

        <img src="{% static '/img/scout.png' %}" />
        <br />
        Sorry! Scout couldn't fetch the page at {{ request_path }}.
        <br />
        Return to the <a href="/">app</a>, or go to our <a href="http://www.washington.edu/itconnect/learn/tools/spacescout/">FAQ</a>.
        <div class="space-detail-report">
            <a href="/contact/"><img src="{% static 'img/mail.png' %}" />&nbsp;Report a problem with a space</a>
        </div>
        </div>
    </div>
{% endblock %}
