{% extends "base-desktop.html" %}

{% block content %}
    {% if is_mobile %}
    <div style="margin:10px;" class="clearfix">
        <h2 class="contact-header pull-left" style="width:auto;">Report a Problem</h2>
        <div class="pull-right" style="display:inline-block;margin-top:8px;"><a href="/" title="back" ><img id="back_to_space_button" src="/static/img/details_arrow.png" alt="Back" /></a></div>
    </div>
    {% else %}
    <div id="nav" style="position:relative;">
        <div class="clearfix">
            <div class="logo"><h1 class="visuallyhidden">SPACESCOUT&trade;</h1></div>
            <div class="actions">
                <a href='/' title="back"><img id="back_to_space_button" src="/static/img/details_arrow.png" alt="Back"/></button></a>
            </div>
        </div>
    </div>
    {% endif %}

    <div {% if is_mobile %}style="margin:10px; background:#fff;" {% else %}id="main_content" style="padding: 80px;"{% endif %}>
        <h2 class="contact-header">Page Not Found (404)</h2>
        <div>
        <img src="{{ STATIC_URL }}/img/scout.png" />
        Sorry! Scout couldn't fetch the page at {{ request_path }}.
        <br />
        Return to the <a href="/">app</a>, or go to our <a href="http://www.washington.edu/lst/help/spacescout-faq">FAQ</a>.
        </div>
    </div>
{% endblock %}
