{% extends 'base-responsive.html' %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}

    <div id="nav" style="position:relative;">
        <div class="logo">SPACESCOUT</div>
        <div id="filter_container">
        <form>

            <div id="filter_block">

                <div class="inner clearfix">

                    <div class="inner-column">
                        <div class="inner-block-left">
                            <h2>Spaces</h2>
                            <p><small><em>Some explanation text will go here...</em></small></p>

                            <div id="filter_space_types" class="choice-group clearfix">
                                <h3>Type of space: <span><a href="#" id="view_space_descriptions" rel="popover">view descriptions</a></span></h3>
                                <div id="space_descriptions_list" style="display:none;">
                                    <ul>
                                        <li>Study Room<br/>
                                            Enclosed space for individual or group
                                        </li>
                                        <li>Study Area<br/>
                                            Unenclosed space for individual or group
                                        </li>
                                        <li>Computer Lab<br/>
                                            Group of computer stations
                                        </li>
                                        <li>Production Studio<br/>
                                            Work space with specialized equipment or technology
                                        </li>
                                        <li>Conference/Classroom<br/>
                                            Larger-capacity rooms primarily used for classes, meetings, or workshops
                                        </li>
                                        <li>Open Space<br/>
                                            Area for use by multiple individuals or groups
                                        </li>
                                        <li>Lounge<br/>
                                            Indoor casual space
                                        </li>
                                        <li>Cafe<br/>
                                            Space that functions primarily as an eatery
                                        </li>
                                        <li>Outdoor area<br/>
                                            Outdoor casual space
                                        </li>
                                    </ul>
                                    <div><a id="close_descriptions" href="#">Close</a></div>
                                </div>
                                <div style="width:auto;float:left; margin-right: 15px;">
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="study_room"> Study Room
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="study_area"> Study Area
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="computer_lab"> Computer Lab
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="studio"> Production Studio
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="classroom"> Conference/Classroom
                                    </label>
                                </div>

                                <div style="width:auto;float:left">
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="open"> Open space
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="lounge"> Lounge
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="cafe"> Cafe
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" value="outdoor"> Outdoor area
                                    </label>
                                </div>

                            </div>
                            <div id="filter_reservability"  class="choice-group">
                                <h3>Reservability:</h3>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="reservable" value="true"> Reservable Space Only
                                </label>
                            </div>
                            <div class="choice-group">
                                <h3>Capacity</h3>
                                Seats at least:
                                <select id='capacity' style="width:60px;">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                  <option>15</option>
                                  <option>20</option>
                                  <option>25+</option>
                                </select>
                                people
                            </div>
                        </div>
                    </div>

                    <div class="inner-column">
                    <h2>Hours</h2>
                    <p><small><em>Some explanation text will go here...</em></small></p>

                    <div id="filter_hours" class="choice-group">
                        <div>
                            <label class="radio inline">
                              <input type="radio" name="optionsRadios" id="" value="option1" checked>
                              Open now
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="optionsRadios" id="" value="option2">
                              Specify day &amp; time
                            </label>
                        </div>
                        <div style="margin-top:8px;">
                            <div><span class="hours-from">from</span><select>
                              <option>No preference</option>
                              <option>Monday</option>
                              <option>Tuesday</option>
                              <option>Wednesday</option>
                              <option>Thursday</option>
                              <option>Friday</option>
                              <option>Saturday</option>
                              <option>Sunday</option>
                            </select>&nbsp;&nbsp;
                            <select>
                              <option>No preference</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>15</option>
                              <option>20</option>
                              <option>25+</option>
                            </select>
                            </div>
                            <div><span class="hours-until">until</span><select>
                              <option>No preference</option>
                              <option>Monday</option>
                              <option>Tuesday</option>
                              <option>Wednesday</option>
                              <option>Thursday</option>
                              <option>Friday</option>
                              <option>Saturday</option>
                              <option>Sunday</option>
                            </select>&nbsp;&nbsp;
                            <select>
                              <option>No preference</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>15</option>
                              <option>20</option>
                              <option>25+</option>
                            </select>
                            </div>
                        </div>
                    </div>

                    <h2>Location</h2>
                    <p><small><em>Some explanation text will go here...</em></small></p>

                    <div id="filter_location" class="choice-group">
                        <div>
                            <label class="radio inline">
                              <input type="radio" name="optionsRadios" id="" value="option1" checked> Entire campus
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="optionsRadios" id="" value="option2"> Specific building
                            </label>
                        </div>
                        <div id="building_list_container" style="margin-top:8px;">
                            <select multiple="" name="e9" id="e9" style="display:none; " class="populate">
                                <optgroup label="A">
                                    <option value="x1">Alder Hall</option>
                                    <option value="x2">Allen Library (ALB)</option>
                                    <option value="x3">Allen Library (ALB) North</option>
                                    <option value="x4">Allen Library (ALB) South</option>
                                    <option value="x5">Architecture Hall (ARC)</option>
                                    <option value="x6">Art Building (ART)</option>
                                </optgroup>
                                <optgroup label="B">
                                    <option value="x7">Burke Memorial-Washington State Museum (BMM)</option>
                                </optgroup>
                                <optgroup label="C">
                                    <option value="x8">Computer Science and Engineering Building (CSE)</option>
                                </optgroup>
                                <optgroup label="E">
                                    <option value="x9">Electrical Engineering Building (EEB)</option>
                                    <option value="x10">Engineering Library (ELB)</option>
                                </optgroup>
                                <optgroup label="F">
                                    <option value="x11">Fishery Sciences (FSH)</option>
                                </optgroup>
                                <optgroup label="G">
                                    <option value="x12">Gould Hall (GLD)</option>
                                    <option value="x13">Gowen Hall (GWN)</option>
                                </optgroup>
                                <optgroup label="H">
                                    <option value="x14">Haggett Hall (HGT)</option>
                                    <option value="x15">Hutchinson Hall (HUT)</option>
                                </optgroup>
                                <optgroup label="I">
                                    <option value="x16">Intramural Activities Building (IMA)</option>
                                </optgroup>
                                <optgroup label="M">
                                    <option value="x17">Magnuson Health Sciences Center A (HSA)</option>
                                    <option value="x18">Magnuson Health Sciences Center C (HSC)</option>
                                    <option value="x19">Magnuson Health Sciences Center D (HSD)</option>
                                    <option value="x20">Magnuson Health Sciences Center E (HSE)</option>
                                    <option value="x21">Magnuson Health Sciences Center I (HSI)</option>
                                    <option value="x22">Magnuson Health Sciences Center T (HST)</option>
                                    <option value="x23">Mary Gates Hall (MGH)</option>
                                    <option value="x24">McMahon Hall (MCM)</option>
                                    <option value="x25">Miller Hall (MLR)</option>
                                    <option value="x26">Music Building (MUS)</option>
                                </optgroup>
                                <optgroup label="P">
                                    <option value="x27">Paccar Hall (PCAR)</option>
                                    <option value="x28">Padelford Hall (PDL)</option>
                                    <option value="x29">Physics/Astronomy Building (PAB) Tower</option>
                                    <option value="x30">Poplar Hall (UTO)</option>
                                </optgroup>
                                <optgroup label="S">
                                    <option value="x31">Social Work/Speech & Hearing Sciences Building (SWS)</option>
                                    <option value="x32">South Campus Center (SOCC)</option>
                                    <option value="x33">Suzzallo Library (SUZ)</option>
                                </optgroup>
                                <optgroup label="W">
                                    <option value="x34">William H. Foege Genome Sciences (GNOM)</option>
                                    <option value="x35">William H. Gates Hall (LAW)</option>
                                </optgroup>
                            </select>
                        </div>

                    </div>

                    <h2>Equipment Available</h2>
                    <p><small><em>Some explanation text will go here...</em></small></p>

                    <div id="filter_equipment_types" class="choice-group clearfix" style="margin-bottom:0px;">
                        <div style="width:auto;float:left; margin-right:15px;">
                            <label class="checkbox">
                              <input type="checkbox" id="" name="equipment" value="has_whiteboards"> Whiteboard
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="" name="equipment" value="has_outlets"> Outlets
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="" name="equipment" value="has_computers"> Computer
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="" name="equipment" value="has_scanner"> Scanning
                            </label>
                        </div>

                        <div style="width:auto;float:left;">
                            <label class="checkbox">
                              <input type="checkbox" id="" name="equipment" value="has_displays"> Large display (for laptop)
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="" name="equipment" value="has_projector"> Projector
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="" name="equipment" value="has_printing"> Printing
                            </label>
                        </div>
                    </div>
                    </div>

                    <div class="inner-column">
                        <div class="inner-block-right">
                            <h2>Environment</h2>
                            <p><small><em>Some explanation text will go here...</em></small></p>

                            <div id="filter_noise_level" class="choice-group">
                                <h3>Noise Level</h3>
                                <div>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="" name="noise_level" value="silent"> Silent
                                </label>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="" name="noise_level" value="quiet"> Low Hum
                                </label>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="" name="noise_level" value="moderate"> Chatter
                                </label>
                                </div>
                            </div>

                            <div id="filter_lighting" class="choice-group">
                                <h3>Lighting</h3>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="lighting" name="has_natural_light"  value="true"> Natural Light
                                </label>
                            </div>

                            <div id="filter_food_coffee" class="choice-group">
                                <h3>Food/Coffee</h3>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="" value=""> In space
                                </label>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="" value=""> In building
                                </label>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="" value=""> In neighboring building
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="filter-submit">
                    <button id="view_results_button" class="btn btn-warning" type="button">View Results</button>
                    <button id="cancel_results_button" class="btn btn-link" type="button">Cancel</button>
                </div>
            </div>
            <div id="filter_button_container"><div id="filter_button"><i class="icon-th icon-white"></i><span class="filter-button-text">Filters</span></div></div>
        </div>
        </form>
    </div>

    <div id="main_content" class="clearfix">
        <div id="map_canvas"></div>
        {% load templatetag_handlebars %}
        {% tplhandlebars "space_details" %}
            <div id="space_detail_container" class="">
                <div class="space-detail">
                    <div class="loading"><div class="loading-inner">&nbsp;</div></div>
                    <div class="space-detail-inner">
                        <div>this is the details view</div>
                        <div><a class="close" href="#">&times; close me</a></div>
                    </div>
                </div>
            </div>
        {% endtplhandlebars %}
        {% tplhandlebars "space_details_replace" %}
                <div class="space-detail">
                    <div class="loading"><div class="loading-inner">&nbsp;</div></div>
                    <div class="space-detail-inner">
                        <div>this is the details view</div>
                        <div><a class="close" href="#">&times; close me</a></div>
                    </div>
                </div>
        {% endtplhandlebars %}

        <div id="info_list">
            <div class="list-inner">
                <div class="list-arrow"><a id="filter_link" href="#"><i class="icon-th-list"></i></a></div>

                <!-- TODO: need to implement if/else logic for spinner and info_items -->
                <div class="loading"><div class="loading-inner"><img src="{{ STATIC_URL }}img/spinner.gif" />&nbsp;&nbsp;Loading spaces...</div></div>

                <div id="info_items"></div>

                {% tplhandlebars "all_markers" %}
                    <ul>
                        {{#each data}}
                        <li><img src='http://placehold.it/100x70' class='img-rounded'> {{name}} <a href="#" class="view-details" id="">view details</a></li>
                        {{/each}}
                    </ul>
                {% endtplhandlebars %}

                {% tplhandlebars "cluster_list" %}
                    <ul>
                        {{#each data}}
                        <li><img src='http://placehold.it/100x70' class='img-polaroid'> {{title}} <a href="#" class="view-details" id="">view details</a></li>
                        {{/each}}
                    </ul>
                {% endtplhandlebars %}

                {% tplhandlebars "spot_info" %}
                    <h1>{{name}}</h1>
                    <div>
                        This is the content window about the space.  Here's some info:
                        <ul>
                            <li>Hours available: {{display_hours_available}}</li>
                            <li>Capacity: {{capacity}}</li>
                        </ul>
                    </div>
                    <div>
                        <a href='/space/{{id}}'>View more</a>
                    </div>
                {% endtplhandlebars %}
            </div>
        </div>
    </div>

{% endblock %}
