{% extends is_mobile|yesno:"base-mobile.html,base-desktop.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script>
    window.default_latitude = {{ center_latitude }};
    window.default_longitude = {{ center_longitude }};
    window.default_zoom = {{ zoom_level }};
</script>
{% endblock %}

{% block content %}
{% load i18n %}

    <div id="nav" style="position:relative;">

        <div class="clearfix">
            <div class="logo">SPACESCOUT&trade;</div>
            <div class="actions">
                <button id="filter_button" class="btn btn-inverse" type="button">Filters</button>
                <button id="cancel_results_button" class="btn" type="button">Clear</button>
                <button id="view_results_button" class="btn btn-inverse" type="button">Done</button>
            </div>
        </div>

        <div id="filter_container">
        <form>

            <div id="filter_block" style="display:none;">
                <div class="inner clearfix">

                    <div class="inner-column">
                        <div class="inner-block-left">
                            <h2>Type &amp; Capacity</h2>
                            <p><small><em>Select preferred types of space, if any:</em></small></p>

                            <div id="filter_space_types" class="choice-group clearfix">
                                <h3>Type of space: <!--<span><a href="#" id="view_space_descriptions" rel="popover">view descriptions</a></span>--></h3>
                                <!--<div id="space_descriptions_list" style="display:none;">
                                    <ul>
                                        <li>Study Room<br/>
                                            Enclosed space for individual or group
                                        </li>
                                        <li>Study Area<br/>
                                            Unenclosed space for individual or group
                                        </li>
                                        <li>Computer Lab<br/>
                                            Group of computer stations
                                        </li>
                                        <li>Production Studio<br/>
                                            Work space with specialized equipment or technology
                                        </li>
                                        <li>Conference/Classroom<br/>
                                            Larger-capacity rooms primarily used for classes, meetings, or workshops
                                        </li>
                                        <li>Open Space<br/>
                                            Area for use by multiple individuals or groups
                                        </li>
                                        <li>Lounge<br/>
                                            Indoor casual space
                                        </li>
                                        <li>Cafe<br/>
                                            Space that functions primarily as an eatery
                                        </li>
                                        <li>Outdoor area<br/>
                                            Outdoor casual space
                                        </li>
                                    </ul>
                                    <div><a id="close_descriptions" href="#">Close</a></div>
                                </div>-->
                                <div style="width:auto;float:left; margin-right: 15px;">
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="study_room" value="study_room"> Study room
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="study_area" value="study_area"> Study area
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="computer_lab" value="computer_lab"> Computer lab
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="studio" value="studio"> Production studio
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="classroom" value="classroom"> Conference/Classroom
                                    </label>
                                </div>

                                <div style="width:auto;float:left">
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="open" value="open"> Open space
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="lounge" value="lounge"> Lounge
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="cafe" value="cafe"> Cafe
                                    </label>
                                    <label class="checkbox">
                                      <input type="checkbox" name="type" id="outdoor" value="outdoor"> Outdoor area
                                    </label>
                                </div>

                            </div>
                            <div id="filter_reservability"  class="choice-group">
                                <h3>Reservability:</h3>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="reservable" value="true"> Show reservable spaces only
                                </label>
                            </div>
                            <div class="choice-group">
                                <h3>Capacity</h3>
                                Seats at least:
                                <select id='capacity' style="width:60px;">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                  <option value="7">7</option>
                                  <option value="8">8</option>
                                  <option value="9">9</option>
                                  <option value="10">10</option>
                                  <option value="15">15</option>
                                  <option value="20">20</option>
                                  <option value="25">25+</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="inner-column">
                    <h2>Hours</h2>
                    <p><small><em>Select open hours</em></small></p>

                    <div id="filter_hours" class="choice-group">
                        <div>
                            <label class="radio inline">
                              <input type="radio" name="optionsHours" id="open_now" value="option1" checked>
                              Open now
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="optionsHours" id="hours_list_input" value="option2">
                              Specify day &amp; time
                            </label>
                        </div>
                        <div id="hours_list_container" style="margin-top:8px; display:none; ">
                            <div><span class="hours-from">from</span><select id="day-from">
                              <option value="nopref">No pref</option>
                              <option value="Monday">MON</option>
                              <option value="Tuesday">TUE</option>
                              <option value="Wednesday">WED</option>
                              <option value="Thursday">THU</option>
                              <option value="Friday">FRI</option>
                              <option value="Saturday">SAT</option>
                              <option value="Sunday">SUN</option>
                            </select>
                            <select id="hour-from">
                              <option value="nopref">No pref</option>
                              <option>12:00</option>
                              <option>12:30</option>
                              <option>1:00</option>
                              <option>1:30</option>
                              <option>2:00</option>
                              <option>2:30</option>
                              <option>3:00</option>
                              <option>3:30</option>
                              <option>4:00</option>
                              <option>4:30</option>
                              <option>5:00</option>
                              <option>5:30</option>
                              <option>6:00</option>
                              <option>6:30</option>
                              <option>7:00</option>
                              <option>7:30</option>
                              <option>8:00</option>
                              <option>8:30</option>
                              <option>9:00</option>
                              <option>9:30</option>
                              <option>10:00</option>
                              <option>10:30</option>
                              <option>11:00</option>
                              <option>11:30</option>
                            </select>
                            <select class="ampm" id="ampm-from">
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>
                            </div>
                            <div><span class="hours-until">until</span><select id="day-until">
                              <option value="nopref">No pref</option>
                              <option value="Monday">MON</option>
                              <option value="Tuesday">TUE</option>
                              <option value="Wednesday">WED</option>
                              <option value="Thursday">THU</option>
                              <option value="Friday">FRI</option>
                              <option value="Saturday">SAT</option>
                              <option value="Sunday">SUN</option>
                            </select>
                            <select id="hour-until">
                              <option value="nopref">No pref</option>
                              <option>12:00</option>
                              <option>12:30</option>
                              <option>1:00</option>
                              <option>1:30</option>
                              <option>2:00</option>
                              <option>2:30</option>
                              <option>3:00</option>
                              <option>3:30</option>
                              <option>4:00</option>
                              <option>4:30</option>
                              <option>5:00</option>
                              <option>5:30</option>
                              <option>6:00</option>
                              <option>6:30</option>
                              <option>7:00</option>
                              <option>7:30</option>
                              <option>8:00</option>
                              <option>8:30</option>
                              <option>9:00</option>
                              <option>9:30</option>
                              <option>10:00</option>
                              <option>10:30</option>
                              <option>11:00</option>
                              <option>11:30</option>
                            </select>
                            <select class="ampm" id="ampm-until">
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>
                            </div>
                        </div>
                    </div>

                    <h2>Location</h2>

                    <div id="filter_location" class="choice-group">
                        <div>
                            <label class="radio inline">
                              <input type="radio" name="optionsLocations" id="entire_campus" value="option1" checked> Entire campus
                            </label>
                            <label class="radio inline">
                              <input type="radio" name="optionsLocations" id="building_list_input" value="option2"> Specific building(s)
                            </label>
                        </div>
                        <div id="building_list_container" style="margin-top:8px;display:none;">
                            <select multiple="" name="e9" id="e9" style="display:none; " class="populate">
                                {% for letter, buildings in buildingdict.items %}
                                <optgroup label="{{ letter }}">
                                    {% for building in buildings%}
                                    <option value="{{ building }}">{{ building }}</option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                            </select>
                        </div>

                    </div>

                    <h2>Resources</h2>
                    <p><small><em>Select resources needed</em></small></p>

                    <div id="filter_equipment_types" class="choice-group clearfix" style="margin-bottom:0px;">
                        <div style="width:auto;float:left; margin-right:15px;">
                            <label class="checkbox">
                              <input type="checkbox" id="has_whiteboards" name="equipment" value="has_whiteboards"> Whiteboard
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="has_outlets" name="equipment" value="has_outlets"> Outlets
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="has_computers" name="equipment" value="has_computers"> Computer
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="has_scanner" name="equipment" value="has_scanner"> Scanning
                            </label>
                        </div>

                        <div style="width:auto;float:left;">
                            <label class="checkbox">
                              <input type="checkbox" id="has_displays" name="equipment" value="has_displays"> Large display (for laptop)
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="has_projector" name="equipment" value="has_projector"> Projector
                            </label>
                            <label class="checkbox">
                              <input type="checkbox" id="has_printing" name="equipment" value="has_printing"> Printing
                            </label>
                        </div>
                    </div>
                    </div>

                    <div class="inner-column">
                        <div class="inner-block-right">
                            <h2>Environment</h2>
                            <p><small><em>Select preferred conditions, if any:</em></small></p>

                            <div id="filter_noise_level" class="choice-group">
                                <h3>Noise Level</h3>
                                <div>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="silent" name="noise_level" value="silent"> {% trans 'silent' %}
                                </label>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="quiet" name="noise_level" value="quiet"> {% trans 'quiet' %}
                                </label>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="moderate" name="noise_level" value="moderate"> {% trans 'moderate' %}
                                </label>
                                </div>
                            </div>

                            <div id="filter_lighting" class="choice-group">
                                <h3>Lighting</h3>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="lighting" name="has_natural_light"  value="true"> Natural Light
                                </label>
                            </div>

                            <div id="filter_food_coffee" class="choice-group">
                                <h3>Food/Coffee</h3>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="in_space" name="food_nearby" value="space"> In space
                                </label>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="in_building" name="food_nearby" value="building"> In building
                                </label>
                                <label class="checkbox inline">
                                  <input type="checkbox" id="neighboring" name="food_nearby" value="neighboring"> In neighboring building
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </form>
    </div>

    {% load templatetag_handlebars %}
    <div id="main_content" class="clearfix">

        <div id="map_canvas"></div>
        {% tplhandlebars "map_controls" %}
            <div class="map-control-container">
                <img id="center_all" src="/static/img/center_all.png" name="image" />&nbsp;
                <img id="center_me" src="/static/img/center_me.png" name="image" />
            </div>
        {% endtplhandlebars %}

        {% tplhandlebars "space_details" %}
            <div id="space_detail_container" class="">
                <div class="space-detail">
                    <div class="space-detail-inner">
                        <div class="space-detail-header">
                            <div class="space-detail-name">{{name}}</div>
                            <div class="space-detail-type">{{type}}</div>
                            <a class="close" href="#">&times;</a>
                        </div>
                        <div class="space-detail-body">
                            <div class="space-detail-body-inner clearfix">

                                <div class="space-image">
                                    <div id="spaceCarouselContainer" class="image-container">
                                        <div id="myCarousel" class="carousel slide">
                                          <!-- Carousel items -->
                                          <div class="carousel-inner">

                                            <!-- TODO: do an each loop of some sort -->
                                            {{ carouselimages this }}

                                          </div>
                                          <!-- Carousel nav -->
                                          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                                        </div>
                                    </div>
                                    <div id="spaceMap" class="map-container" style="display:none;">map goes here</div>

                                    <div class="space-image-map-buttons btn-group" data-toggle="buttons-radio">
                                      <button id="carouselControl" class="btn active">images</button>
                                      <button id="mapControl" class="btn">map</button>
                                    </div>
                                </div>

                                <div class="space-info">
                                     <ul>
                                                    <li class="clearfix">
                                                        <div class="space-info-label pull-left">Notes</div>
                                                        <div class="space-info-detail pull-left">
                                                            {{#if extended_info.access_notes }}<p>{{extended_info.access_notes }}</p>{{/if}}
                                                            {{#if extended_info.hours_notes }}<p>{{extended_info.hours_notes }}</p>{{/if}}
                                                            {{#if extended_info.reservation_notes }}<p>{{extended_info.reservation_notes }}</p>{{/if}}
                                                        </div>
                                                    </li>


                                        <li class="clearfix"><div class="space-info-label pull-left">Hours</div><div class="space-info-detail pull-left">{{formatHours available_hours}}</div></li>
                                        <li class="clearfix"><div class="space-info-label pull-left">Location</div><div class="space-info-detail pull-left">{{extended_info.location_description}}</div></li>
                                        <li class="clearfix">
                                            <div class="space-info-label pull-left">Resources</div>
                                            <div class="space-info-detail pull-left">
                                                {{#if extended_info.has_computers }}Computers{{/if}}
                                                {{#if extended_info.has_displays }}Displays&nbsp;{{/if}}
                                                {{#if extended_info.has_outlets }}Outlets&nbsp;{{/if}}
                                                {{#if extended_info.has_printing }}Printing&nbsp;{{/if}}
                                                {{#if extended_info.has_projector }}Projector&nbsp;{{/if}}
                                                {{#if extended_info.has_scanner }}Scanning&nbsp;{{/if}}
                                                {{#if extended_info.has_whiteboards }}Whiteboards&nbsp;{{/if}}
                                            </div>
                                        </li>

                                        {{#if extended_info.noise_level }}
                                        <li class="clearfix">
                                            <div class="space-info-label pull-left">Noise Level</div>
                                            <div class="space-info-detail pull-left">

                                                {{#compare extended_info.noise_level "quiet" operator="=="}}
                                                Low hum
                                                  {{^}}
                                                        {{#compare extended_info.noise_level "moderate" operator="=="}}
                                                        Chatter
                                                        {{^}}
                                                            {{#compare extended_info.noise_level "silent" operator="=="}}
                                                            Silent
                                                            {{^}}
                                                            Variable
                                                            {{/compare}}
                                                        {{/compare}}
                                                  {{/compare}}

                                            </div>
                                        </li>
                                        {{/if}}

                                        {{#if extended_info.has_natural_light }}
                                        <li class="clearfix"><div class="space-info-label pull-left">Lighting</div><div class="space-info-detail pull-left">Natural light</div></li>
                                        {{/if}}


                                        {{#if extended_info.food_nearby }}
                                        <li class="clearfix">
                                            <div class="space-info-label pull-left">Food/Coffee</div>
                                            <div class="space-info-detail pull-left">

                                              {{#compare extended_info.food_nearby "building" operator="=="}}
                                                 In building
                                              {{^}}
                                                    {{#compare extended_info.food_nearby "space" operator="=="}}
                                                    In space
                                                    {{^}}
                                                    In neighboring building
                                                    {{/compare}}
                                              {{/compare}}

                                            </div>
                                        </li>
                                        {{/if}}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="space-detail-footer">This space was last updated {{last_modified}}{{#if organization }} by {{organization}} {{/if}}<a href="/contact/"><button type="button" class="btn btn-small btn-danger">report a problem</button></a></div>
                    </div>
                </div>
            </div>
        {% endtplhandlebars %}
        {% tplhandlebars "space_details_replace" %}
                <div class="space-detail">
                    <div class="space-detail-inner">
                        <div class="space-detail-header">
                            <div class="space-detail-name">{{name}}</div>
                            <div class="space-detail-type">{{type}}</div>
                            <a class="close" href="#">&times;</a>
                        </div>
                        <div class="space-detail-body">
                            <div class="space-detail-body-inner clearfix">

                                <div class="space-image">
                                    <div id="spaceCarouselContainer" class="image-container">
                                        <div id="myCarousel" class="carousel slide">
                                          <!-- Carousel items -->
                                          <div class="carousel-inner">

                                            <!-- TODO: do an each loop of some sort -->
                                            {{ carouselimages this }}

                                          </div>
                                          <!-- Carousel nav -->
                                          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                                        </div>
                                    </div>
                                    <div id="spaceMap" class="map-container" style="display:none; "></div>

                                     <div class="space-image-map-buttons btn-group" data-toggle="buttons-radio">
                                      <button id="carouselControl" class="btn active">images</button>
                                      <button id="mapControl" class="btn">map</button>
                                    </div>

                                </div>
                                <div class="space-info">
                                     <ul>

                                        <li class="clearfix">
                                            <div class="space-info-label pull-left">Notes</div>
                                            <div class="space-info-detail pull-left">
                                                {{#if extended_info.access_notes }}<p>{{extended_info.access_notes }}</p>{{/if}}
                                                {{#if extended_info.hours_notes }}<p>{{extended_info.hours_notes }}</p>{{/if}}
                                                {{#if extended_info.reservation_notes }}<p>{{extended_info.reservation_notes }}</p>{{/if}}
                                            </div>
                                        </li>

                                        <li class="clearfix"><div class="space-info-label pull-left">Hours</div><div class="space-info-detail pull-left">{{formatHours available_hours}}</div></li>
                                        <li class="clearfix"><div class="space-info-label pull-left">Location</div><div class="space-info-detail pull-left">{{extended_info.location_description}}</div></li>
                                        <li class="clearfix">
                                            <div class="space-info-label pull-left">Resources</div>
                                            <div class="space-info-detail pull-left">
                                                {{#if extended_info.has_computers }}Computers{{/if}}
                                                {{#if extended_info.has_displays }}Displays&nbsp;{{/if}}
                                                {{#if extended_info.has_outlets }}Outlets&nbsp;{{/if}}
                                                {{#if extended_info.has_printing }}Printing&nbsp;{{/if}}
                                                {{#if extended_info.has_projector }}Projector&nbsp;{{/if}}
                                                {{#if extended_info.has_scanner }}Scanning&nbsp;{{/if}}
                                                {{#if extended_info.has_whiteboards }}Whiteboards&nbsp;{{/if}}
                                            </div>
                                        </li>

                                        {{#if extended_info.noise_level }}
                                        <li class="clearfix">
                                            <div class="space-info-label pull-left">Noise Level</div>
                                            <div class="space-info-detail pull-left">

                                                {{#compare extended_info.noise_level "quiet" operator="=="}}
                                                Low hum
                                                  {{^}}
                                                        {{#compare extended_info.noise_level "moderate" operator="=="}}
                                                        Chatter
                                                        {{^}}
                                                            {{#compare extended_info.noise_level "silent" operator="=="}}
                                                            Silent
                                                            {{^}}
                                                            Variable
                                                            {{/compare}}
                                                        {{/compare}}
                                                  {{/compare}}

                                            </div>
                                        </li>
                                        {{/if}}

                                        {{#if extended_info.has_natural_light }}
                                        <li class="clearfix"><div class="space-info-label pull-left">Lighting</div><div class="space-info-detail pull-left">Natural light</div></li>
                                        {{/if}}


                                        {{#if extended_info.food_nearby }}
                                        <li class="clearfix">
                                            <div class="space-info-label pull-left">Coffee/Food</div>
                                            <div class="space-info-detail pull-left">

                                              {{#compare extended_info.food_nearby "building" operator="=="}}
                                                 In building
                                              {{^}}
                                                    {{#compare extended_info.food_nearby "space" operator="=="}}
                                                    In space
                                                    {{^}}
                                                    In neighboring building
                                                    {{/compare}}
                                              {{/compare}}

                                            </div>
                                        </li>
                                        {{/if}}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="space-detail-footer">This space was last updated {{last_modified}}{{#if organization }} by {{organization}} {{/if}}<a href="/contact/"><button type="button" class="btn btn-small btn-danger">report a problem</button></a></div>
                    </div>
                </div>
        {% endtplhandlebars %}

        <div id="info_list">
            <div class="list-inner">
                <div class="list-arrow"><a id="filter_link" href="#"><img src="{{ STATIC_URL }}img/list.png" /></a></div>

                <!-- TODO: need to implement if/else logic for spinner and info_items -->
                <div class="loading"><div class="loading-inner"><img src="{{ STATIC_URL }}img/spinner.gif" />&nbsp;&nbsp;Loading spaces...</div></div>

                <div id="info_items"></div>

                {% tplhandlebars "all_markers" %}
                    <ul>

                        {{#if data }}
                            {{#each data}}
                            <li class="clearfix view-details">
                                <div class="space-detail-list-image pull-left"><img src="/static/img/transparent.gif" data-original='space/{{id}}/image/{{images.0.id}}/thumb/100x67' class='img lazy'></div>

                                <div id="{{id}}" class="space-detail-list-item pull-left">
                                    <div class="space-detail-type">{{type}}</div>
                                    <div class="space-detail-name">{{name}}</div>
                                    <div class="space-detail-desc">{{extended_info.location_description}}</div>
                                </div>
                            </li>
                            {{/each}}
                        {{else}}
                            <li class="no-spaces">Sorry, no spaces match your filters!</li>
                        {{/if}}

                    </ul>
                {% endtplhandlebars %}

                {% tplhandlebars "cluster_list" %}
                    <ul>
                        {{#if data }}
                            {{#each data}}
                            <li class="clearfix view-details">
                                <div class="space-detail-list-image pull-left"><img src='space/{{id}}/image/{{images.0.id}}/thumb/100x67' class='img'></div>
                                <div id="{{id}}" class="space-detail-list-item pull-left">
                                    <div class="space-detail-type">{{type}}</div>
                                    <div class="space-detail-name">{{name}}</div>
                                    <div class="space-detail-desc">{{extended_info.location_description}}</div>
                                </div>
                            </li>
                            {{/each}}
                        {{else}}
                            <li class="no-spaces">Sorry, no spaces match your filters!</li>
                        {{/if}}
                    </ul>
                {% endtplhandlebars %}

                {% tplhandlebars "spot_info" %}
                    <ul>
                        <li class="clearfix view-details">
                            <div class="space-detail-list-image pull-left"><img src='space/{{id}}/image/{{images.0.id}}/thumb/100x67' class='img'></div>
                            <div id="{{id}}" class="space-detail-list-item pull-left">
                                <div class="space-detail-type">{{type}}</div>
                                <div class="space-detail-name">{{name}}</div>
                                <div class="space-detail-desc">{{extended_info.location_description}}</div>
                            </div>
                        </li>
                    </ul>
                {% endtplhandlebars %}
            </div>
        </div>
    </div>

{% endblock %}
