{% extends is_mobile|yesno:"base-mobile.html,base-desktop.html" %}

{% block content %}
<form action="/contact/" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        {% if field.name == "email_confirmation" %}
            <div style="display: None;">
                LEAVE BLANK {{ field }}
            </div>
        {% else %}
            <div class="fieldWrapper">
                {{ field.label_tag }}{{ field }}
                {% for error in field.errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Send" />
</form>
{% endblock %}
