{% extends "base-desktop.html" %}

{% block extra_compress_css %}
<link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/favorites.less" media="screen, handheld" />
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });

    window.spacescout_favorites.load(function (card, fav) {
        var now = new Date(),
            hour = now.getHours() + 1,
            minute = now.getMinutes(),
            day = weekday_from_day(now.getDay()).toLowerCase(),
            formatted = 'Closed',
            o, c;

        if (fav.available_hours[day].length > 0) {
            $.each(fav.available_hours[day], function() {
                this[0] = this[0].replace(/^0+/, '');
                this[1] = this[1].replace(/^0+/, '');
                o = this[0].split(':');
                c = this[1].split(':');

                if ((hour > parseInt(o[0]) && hour < parseInt(c[0]))
                    || (hour == parseInt(o[0]) && minute > parseInt(o[1]))
                    || (hour == parseInt(c[0]) && minute < parseInt(c[1]))) {
                    $('.space-detail-is-open', card).show();
                }
            });

            formatted = to12Hour(fav.available_hours[day]).join(", ");
        }

        $('.space-info-hours-today span', card).html(formatted);

        $('.space-info-more-detail a', card).click(function (e) {
            var more_div = $(e.target).parent();

            more_div.slideUp('fast');
            more_div.next().slideDown('fast');
        });

        $('.space-info-less-detail a', card).click(function (e) {
            var ul = $(e.target).closest('ul');

            ul.slideUp('fast');
            ul.prev().slideDown('fast');
        });

        $('.space-detail-fav', card).tooltip({ placement: 'right',
                                               title: 'Remove this space from Favorites' });
        $('.space-detail-fav', card).click(function (e) {
            var id = parseInt($(this).attr('data-id'));
            var container = $(this).closest('.space-detail-container');
            var tooltip = $(this).tooltip('hide');

            window.spacescout_favorites.clear(id, function () {
                container.hide({ effect: 'fade', duration: 800,  complete: function () { this.remove(); } });
            });
        });

        var bld_code = fav.location.building_name.match(/.*\(([A-Z ]+)\)( [a-zA-Z]+)?$/)
        if (bld_code) {
            $('.space-detail-building', card).html(bld_code[1] + (bld_code[2] ? bld_code[2] : ''));
        } else {
            $('.space-detail-building', card).html(fav.location.building_name);
        }

        // Load image carousel
        if (fav.hasOwnProperty('images') && fav.images.length > 0) {
            var template = Handlebars.compile($('#images_template').html());
            var data = [];
            $.each(fav.images, function () {
                data.push({ id: fav.id, image_id: this.id });
            });

            $('.carousel-inner', card).html(template({ data: data }));
        } else {
            var template = Handlebars.compile($('#no_images_template').html());
            $('.carousel-inner', card).html(template());
        }

        if (fav.has_reservation_notes) {
            var url = fav.extended_info.reservation_notes.match(/(http:\/\/[^\s]+)/);

            if (url) {
               var template = Handlebars.compile($('#reservation_cue').html());
               $('.space-info-reservation-cue', card).html(template({ url: url[1] })).show();
            }
        }

    });
</script>
{% endblock %}

{% block content %}
{% load i18n %}
{% load templatetag_handlebars %}

    <div id="nav" style="position:relative;">

        <div class="logo-container clearfix">

            <div class="logo">
                <h1 id="app_header" class="visuallyhidden">SPACESCOUT&trade;</h1>
                {% ifnotequal locations|length 1 %}
                <span role="navigation" aria-labelledby="location_select_heading">
                <label id="location_select_heading" for="location_select"  class="visuallyhidden">Select campus:</label>
                <select id='location_select' disabled>
                    {% for key, value in locations.items %}
                        <option value="{{ value.CENTER_LATITUDE }},{{ value.CENTER_LONGITUDE }},{{ key }},{{ value.ZOOM_LEVEL }}">{{ value.NAME }}</option>
                    {% endfor %}
                </select>
                </span>
                {% endifnotequal %}
            </div>
            <div class="user_context">
                {% if user.is_authenticated %}
                  <span>{% trans 'greeting' %}&nbsp;{{ request.user }}</span>
                  <a href="/">{% trans 'favorites' %} (<span class="favorites_count_container">{{ total }}</span>)</a>
                  {% tplhandlebars "favorites_count" %}{{count}}{% endtplhandlebars %}
                  <span>|</span>
                  <a href="logout?next=/">{% trans 'logout' %}</a>
                {% else %}
                  {% trans 'salutation' %}&nbsp;<a href="login?next={% firstof request.path '/' %}">{% trans 'login' %}</a>
                {% endif %}
                <span>
            </div>
        </div>

        <div class="favorites-header"><span></span></div>
        <div class="favorites">
          <div class="navigation">
            <a href="/">Back to Map</a>
          </div>

          <h1>Favorites</h1>
          <h4><span class="favorites_count_container">{{ total }}</span> favorite spaces <span class="comment">(organized by the date you added)</span></h4>
          <div id="space_details_page" class="favorites_card_container">
            {% tplhandlebars "favorites_card" %}
            <div class="space-detail-container">
                <div class="space-detail">
                    <div class="space-detail-inner">

                        <div id="spot_{{ id }}" class="space-detail-header clearfix">
                          <h1 class="visuallyhidden">SPACESCOUT&trade;</h1>
                          <div class="space-detail-building">{{ location.building_code }}</div>
                          <div id="name-type-block" class="pull-left">
                            <div class="space-detail-fav pull-left space-detail-fav-set" data-id="{{ id }}"><i class="fa fa-heart"></i></div>
                            <h2 class="space-detail-name"><span class="visuallyhidden">Space Details: </span>{{ name }}</h2>
      	                    <div class="space-detail-type">{{ type }} {{#if capacity }}<span class="space-detail-capacity">[Seats&nbsp;{{capacity}}]</span>{{/if}}</div>
                            <div class="space-detail-is-open" style="display: none;">OPEN</div>
                          </div>
                        </div>
                        <div class="space-detail-body">
                            <div class="space-detail-body-inner">
                                <div id="spaceCarouselContainer" class="image-container" role="tabpanel">
                                    <div id="spaceCarousel" class="carousel slide">
                                      <!-- Carousel items -->
                                      <div class="carousel-inner"></div
                                      <!-- Carousel nav -->
                                      <a class="carousel-control left" href="#spaceCarousel" data-slide="prev">&lsaquo;</a>
                                      <a class="carousel-control right" href="#spaceCarousel" data-slide="next">&rsaquo;</a>
                                    </div>
                                </div>
                                <div id="spaceMap" class="map-container" style="display:none;" role="tabpanel"></div>
                            </div>
                        </div>

                        <div class="space-image-map-buttons btn-group" data-toggle="buttons-radio" role="tablist">
                          <button id="carouselControl" class="btn active" role="tab" aria-controls="spaceCarouselContainer" aria-selected="true"><span>Image gallery</span></button>
                          <button id="mapControl" class="btn" role="tab" aria-controls="spaceMap" aria-selected="false"><span>Show this space on a map</span></button>
                        </div>


                        <div class="space-info">
                          <div class="space-info-hours-today">
                            Today's hours: <span></span>
                          </div>
                          <div class="space-info-reservation-cue" style="display: none;"></div>
                          <div class="space-info-more-detail">
                            <a href="javascript:void(0);"><i class="fa fa-angle-double-down"></i> Show more detail about this space</a>
                          </div>
                          <ul style="display: none;">

                                        {{#if has_notes }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Notes</h3>
                                            <div class="space-info-detail pull-left">
                                                {{#if extended_info.access_notes }}<p>{{extended_info.access_notes}}</p>{{/if}}
                                                {{#if extended_info.reservation_notes }}<p id="ei_reservation_notes">{{extended_info.reservation_notes }}</p>{{/if}}
                                            </div>
                                        </li>
                                        {{/if}}
                                        {{#if extended_info.labstats_id}}
                                            {{#if extended_info.auto_labstats_total}}
                                                {{#compare extended_info.auto_labstats_total 0 operator="!="}}
                                                    <li class="clearfix">
                                                        <h3 class="space-info-label pull-left">Computers</h3>
                                                        <div class="space-info-detail pull-left">

                                                        {{#compare extended_info.auto_labstats_available 0 operator=">"}}
                                                            <p><span class="computer-available">{{extended_info.auto_labstats_available}}</span> of {{extended_info.auto_labstats_total}} available</p>
                                                        {{^}}
                                                            <p><span class="computer-notavailable">{{extended_info.auto_labstats_available}}</span> of {{extended_info.auto_labstats_total}} available</p>
                                                        {{/compare}}
                                                        </div>
                                                    </li>
                                                {{/compare}}
                                            {{/if}}
                                        {{/if}}

                                        <li class="clearfix"><h3 class="space-info-label pull-left">Hours</h3>
                                          <div class="space-info-detail pull-left">{{formatHours available_hours}}</div>
                                        </li>

                                        <li class="clearfix"><h3 class="space-info-label pull-left">Location</h3>
                                          <div class="space-info-detail pull-left">{{extended_info.location_description}}</div>
                                        </li>

                                        {{#if has_resources }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Resources</h3>
                                            <div class="space-info-detail pull-left">
                                                <ul class='space-info-resources-list'>
                                                {{#if extended_info.has_computers }}<li>Computers</li>{{/if}}
                                                {{#if extended_info.has_displays }}<li>Display</li>{{/if}}
                                                {{#if extended_info.has_outlets }}<li>Outlets</li>{{/if}}
                                                {{#if extended_info.has_printing }}<li>Printing</li>{{/if}}
                                                {{#if extended_info.has_projector }}<li>Projector</li>{{/if}}
                                                {{#if extended_info.has_scanner }}<li>Scanning</li>{{/if}}
                                                {{#if extended_info.has_whiteboards }}<li>Whiteboards</li>{{/if}}
                                                </ul>
                                            </div>
                                        </li>
                                        {{/if}}

                                        {{#if extended_info.noise_level }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Noise Level</h3>
                                            <div class="space-info-detail pull-left">{{ extended_info.noise_level }}</div>
                                        </li>
                                        {{/if}}

                                        {{#if extended_info.has_natural_light }}
                                        <li class="clearfix"><h3 class="space-info-label pull-left">Lighting</h3><div class="space-info-detail pull-left">Natural light</div></li>
                                        {{/if}}


                                        {{#if extended_info.food_nearby }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Food/Coffee</h3>
                                            <div class="space-info-detail pull-left">{{ extended_info.food_nearby }}</div>
                                        </li>
                                        {{/if}}
                            <li>
                              <div class="space-info-less-detail">
                                <a href="javascript:void(0);"><i class="fa fa-angle-double-up"></i> Show less detail about this space</a>
                              </div>
                            </li>
                          </ul>
                        </div>

                    </div>
                </div>
            </div>
            {% endtplhandlebars %}
            <div id="space-detail-blank" class="space-detail-container">
                <div class="space-detail">
                    <div class="space-detail-inner">
                      <i class="fa fa-heart fa-4x"></i>Your next favorite space will be here.
                      <br /><a href="/">Go to space list</a>
                    </div>
                </div>
            </div>
          </div>

          <div class="footer">
            <a href="#"><span>Any favorite space is missing? </span>Go to FAQ</a>
          </div>
        </div>
    </div>

    {% tplhandlebars "mobile_hours" %}
    <h3 class="space-info-label pull-left">Hours</h3><div class="space-info-detail pull-left">{{formatHours available_hours}}</div>
    {% endtplhandlebars %}

    {% tplhandlebars "images_template" %}
    {{# each data }}
    <div class="carousel-inner-image item">
      <div class="carousel-inner-image-inner" style="background:url('/space/{{ id }}/image/{{ image_id }}/thumb/constrain/width:268,height:180') no-repeat 50% 50%; background-size:100%;">&nbsp;</div>
    </div>
    {{/each}}
    {% endtplhandlebars %}

    {% tplhandlebars "no_images_template" %}
    <div class="carousel-inner-image item">
      <div class="carousel-inner-image-inner" style="background:url('{{ STATIC_URL }}img/placeholder_noImage_bw.png') no-repeat 50% 50%; background-size:100%;">&nbsp;</div>
    </div>
    {% endtplhandlebars %}
    {% tplhandlebars "reservation_cue" %}
    <a href="{{ url }}" target="_blank">Reserve this space online... <i class="fa fa-external-link"></i></a>
    {% endtplhandlebars %}



{% if user.is_authenticated %}
<script type="text/javascript">
  window.spacescout_csrf_token = '{{ csrf_token }}';
</script>
{% endif %}

{% endblock %}
