{% extends "base-desktop.html" %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
{% load i18n %}
{% load templatetag_handlebars %}

    <div id="nav" style="position:relative;">

        <div class="logo-container clearfix">

            <div class="logo">
                <h1 id="app_header" class="visuallyhidden">SPACESCOUT&trade;</h1>
                {% ifnotequal locations|length 1 %}
                <span role="navigation" aria-labelledby="location_select_heading">
                <label id="location_select_heading" for="location_select"  class="visuallyhidden">Select campus:</label>
                <select id='location_select' disabled>
                    {% for key, value in locations.items %}
                        <option value="{{ value.CENTER_LATITUDE }},{{ value.CENTER_LONGITUDE }},{{ key }},{{ value.ZOOM_LEVEL }}">{{ value.NAME }}</option>
                    {% endfor %}
                </select>
                </span>
                {% endifnotequal %}
            </div>
            <div class="user_context">
                {% if user.is_authenticated %}
                  <span>{% trans 'greeting' %}&nbsp;{{ request.user }}</span>
                  <a href="favorites">{% trans 'favorites' %} (<span class="favorites_count_container">0</span>)</a>
                  {% tplhandlebars "favorites_count" %}
                  {{count}}
                  {% endtplhandlebars %}
                  <span>|</span>
                  <a href="logout?next={% firstof request.path '/' %}">{% trans 'logout' %}</a>
                {% else %}
                  {% trans 'salutation' %}&nbsp;<a href="login?next={% firstof request.path '/' %}">{% trans 'login' %}</a>
                {% endif %}
                <span>
            </div>
        </div>

        <div class="favorites-header"><span></span></div>
        <div class="favorites">
          <div class="navigation">
            <a href="/">Back to Map</a>
          </div>

          <h1>Favorites</h1>
          <h4><span class="favorites_count_container">0</span> favorite spaces <span class="comment">(organized by the date you added)</span></h4>
          <div id="favorites_card_container" class="cards"></div>
          {% tplhandlebars "favorites_card" %}
          <div class="favorite-detail">
            <div class="favorite-detail-inner" id="detail_container_{{id}}" aria-labelledby="favorite-detail-name" tabindex="0">
              <div class="favorite-detail-header">
                <div class="favorite-detail-fav favorite-detail-fav-set pull-left"><i class="fa fa-heart"></i></div>
                <h2 id="favorite-detail-name" class="favorite-detail-name"><span class="visuallyhidden">Space Details:</span> {{name}}</h2>
                <div class="favorite-detail-type">{{type}} {{#if capacity }}<span class="favorite-detail-capacity">[Seats&nbsp;{{capacity}}]</span>{{/if}}</div>
              </div>
                        <div class="favorite-detail-body">
                            <div class="clearfix">
                                <div class="favorite-detail-body-inner pull-left">

                                    <div class="space-image">
                                        <div id="spaceCarouselContainer" class="image-container" role="tabpanel">
                                            <div id="myCarousel" class="carousel slide">
                                              <!-- Carousel items -->
                                              <div class="carousel-inner">

                                                <!-- TODO: do an each loop of some sort -->
                                                {{ carouselimages this }}

                                              </div>
                                              <!-- Carousel nav -->
                                              <a class="carousel-control left" href="#myCarousel" title="previous image" data-slide="prev">&lsaquo;</a>
                                              <a class="carousel-control right" href="#myCarousel" title="next image" data-slide="next">&rsaquo;</a>
                                            </div>
                                        </div>
                                        <div id="spaceMap" class="map-container" style="display:none;" role="tabpanel">map goes here</div>
                                    </div>

                                </div>
                                <div class="space-image-map-buttons btn-group pull-left" data-toggle="buttons-radio" role="tablist">
                                  <button id="carouselControl" class="btn active" role="tab" aria-selected="true" aria-controls="spaceCarouselContainer"><span>Image gallery</span></button>
                                  <button id="mapControl" class="btn" role="tab" aria-controls="spaceMap" aria-selected="false"><span>Show this space on a map</span></button>
                                </div>

                            </div>

                            <div style="margin: 0 20px 20px 20px;">

                                
                                <div class="space-info">
                                     <ul>

                                        {{#if has_notes }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Notes</h3>
                                            <div class="space-info-detail pull-left">
                                                {{#if extended_info.access_notes }}<p>{{extended_info.access_notes}}</p>{{/if}}
                                                {{#if extended_info.reservation_notes }}<p id="ei_reservation_notes">{{extended_info.reservation_notes }}</p>{{/if}}
                                            </div>
                                        </li>
                                        {{/if}}
                                        {{#if extended_info.labstats_id}}
                                            {{#if extended_info.auto_labstats_total}}
                                                {{#compare extended_info.auto_labstats_total 0 operator="!="}}
                                                    <li class="clearfix">
                                                        <h3 class="space-info-label pull-left">Computers</h3>
                                                        <div class="space-info-detail pull-left">

                                                        {{#compare extended_info.auto_labstats_available 0 operator=">"}}
                                                            <p><span class="computer-available">{{extended_info.auto_labstats_available}}</span> of {{extended_info.auto_labstats_total}} available</p>
                                                        {{^}}
                                                            <p><span class="computer-notavailable">{{extended_info.auto_labstats_available}}</span> of {{extended_info.auto_labstats_total}} available</p>
                                                        {{/compare}}
                                                        </div>
                                                    </li>
                                                {{/compare}}
                                            {{/if}}
                                        {{/if}}

                                        <li class="clearfix"><h3 class="space-info-label pull-left">Hours</h3><div class="space-info-detail pull-left">{{formatHours available_hours}}</div></li>
                                        <li class="clearfix"><h3 class="space-info-label pull-left">Location</h3><div class="space-info-detail pull-left">{{extended_info.location_description}}</div></li>
                                        {{#if has_resources }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Resources</h3>
                                            <div class="space-info-detail pull-left">
                                                <ul class='space-info-resources-list'>
                                                {{#if extended_info.has_computers }}<li>Computers</li>{{/if}}
                                                {{#if extended_info.has_displays }}<li>Display</li>{{/if}}
                                                {{#if extended_info.has_outlets }}<li>Outlets</li>{{/if}}
                                                {{#if extended_info.has_printing }}<li>Printing</li>{{/if}}
                                                {{#if extended_info.has_projector }}<li>Projector</li>{{/if}}
                                                {{#if extended_info.has_scanner }}<li>Scanning</li>{{/if}}
                                                {{#if extended_info.has_whiteboards }}<li>Whiteboards</li>{{/if}}
                                                </ul>
                                            </div>
                                        </li>
                                        {{/if}}

                                        {{#if extended_info.noise_level }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Noise Level</h3>
                                            <div class="space-info-detail pull-left">

                                                {{#compare extended_info.noise_level "quiet" operator="=="}}
                                                {% verbatim %}{% trans 'quiet' %}{% endverbatim %}
                                                  {{^}}
                                                        {{#compare extended_info.noise_level "moderate" operator="=="}}
                                                        {% verbatim %}{% trans 'moderate' %}{% endverbatim %}
                                                        {{^}}
                                                            {{#compare extended_info.noise_level "silent" operator="=="}}
                                                            {% verbatim %}{% trans 'silent' %}{% endverbatim %}
                                                            {{^}}
                                                            {% verbatim %}{% trans 'variable' %}{% endverbatim %}
                                                            {{/compare}}
                                                        {{/compare}}
                                                  {{/compare}}

                                            </div>
                                        </li>
                                        {{/if}}

                                        {{#if extended_info.has_natural_light }}
                                        <li class="clearfix"><h3 class="space-info-label pull-left">Lighting</h3><div class="space-info-detail pull-left">Natural light</div></li>
                                        {{/if}}


                                        {{#if extended_info.food_nearby }}
                                        <li class="clearfix">
                                            <h3 class="space-info-label pull-left">Food/Coffee</h3>
                                            <div class="space-info-detail pull-left">

                                              {{#compare extended_info.food_nearby "building" operator="=="}}
                                                 {% verbatim %}{% trans 'building' %}{% endverbatim %}
                                              {{^}}
                                                    {{#compare extended_info.food_nearby "space" operator="=="}}
                                                    {% verbatim %}{% trans 'space' %}{% endverbatim %}
                                                    {{^}}
                                                    {% verbatim %}{% trans 'neighboring' %}{% endverbatim %}
                                                    {{/compare}}
                                              {{/compare}}

                                            </div>
                                        </li>
                                        {{/if}}

                                    </ul>
                                </div>

                                <div class="favorite-detail-footer">This space was last updated on {{last_modified}} by<br/> {% if organization %}{{ organization }}{%else%}University of Washington Information Technology{% endif %}</div>

                            </div>
                        </div>
                    </div>
                </div>
        {% endtplhandlebars %}

          <div class="footer">
            <a href="#"><span>Any favorite space is missing? </span>Go to FAQ</a>
          </div>
        </div>
    </div>

{% if user.is_authenticated %}
<script type="text/javascript">
  window.spacescout_csrf_token = '{{ csrf_token }}';
</script>
{% endif %}

{% endblock %}
