{% load i18n %}
{% load templatetag_handlebars %}


{% tplhandlebars "space_reviews" %}
  <h4>Reviews for this space
    <button class="write-a-review"><i class="fa fa-pencil"></i> {% trans 'write_review' %}</button>
  </h4>
  <div class="space-review-compose" style="display: none;">
    <h4>Write a review</h4>
    <h6>Rate this space</h6>
    <div class="space-review-rating">
      <div class="space-review-stars">
        <span>
	        <i class="fa fa-star-o fa-lg"></i>
	        <i class="fa fa-star-o fa-lg"></i>
	        <i class="fa fa-star-o fa-lg"></i>
	        <i class="fa fa-star-o fa-lg"></i>
	        <i class="fa fa-star-o fa-lg"></i>
        </span>
        <span></span>
      </div>
      <br>
      <div class="space-review-chars">
        <b><span id="space-review-remaining"></span></b> characters left
      </div>
    </div>
	<textarea placeholder="{% trans 'review_placeholder' %}" maxlength="300"></textarea>
    <a href="javascript:void(0);"><i class="fa fa-angle-double-down"></i> Review guidelines</a>
    <ul style="display: none;">
      <li>Explain your star rating.</li>
      <li>Be polite, no profanity.</li>
      <li>Remember, your UW NetID will be displayed as reviewer's name.</li>
      <li>Your submission will be published after our review in a few days.</li>
    </ul>
    <br>
    <b>Note:</b> Your UW NetID will be displayed with this review.
	<br><br>
    <div>
      <button id="space-review-submit">{% trans 'Submit' %}</button>
      <button id="space-review-cancel">{% trans 'Cancel' %}</button>
    </div>
  </div>
  <div class="space-review-submitted border-rounded" style="display: none;">
    <b>Thank you for your review.</b><br />
    We will notify you in a few days once it's published.
    <a href="javascript:void(0);">{% trans 'Close' %}</a>
  </div>
  <div class="space-reviews-content"></div>
{% endtplhandlebars %}

{% tplhandlebars "no_space_reviews" %}
    <div class="space-reviews-none border-rounded">
      No reviews found for this space. Be the first to leave a review for this space.
      <br />
      <button class="write-a-review"><i class="fa fa-pencil"></i>{% trans 'write_review' %}</button>
    </div>
{% endtplhandlebars %}

{% tplhandlebars "space_reviews_review" %}
    <div class="space-reviews-review">
      <div class="space-review-header">
        <span><i class="fa fa-star-o fa-lg"></i>
        <i class="fa fa-star-o fa-lg"></i>
        <i class="fa fa-star-o fa-lg"></i>
        <i class="fa fa-star-o fa-lg"></i>
        <i class="fa fa-star-o fa-lg"></i></span>
        <span><b>By {{ reviewer }}.</b> {{ date }}</span>
      </div>
      <div class="space-review-body">
        {{ review }}
      </div>
    </div>
{% endtplhandlebars %}

{% tplhandlebars "more_space_reviews" %}
    <div class="more-space-reviews">
      <a href="javascript:void(0);"><i class="fa fa-angle-double-down"></i> See more reviews...</a>
    </div>
{% endtplhandlebars %}
