{% extends is_mobile|yesno:"base-mobile-subpage.html,base-desktop.html" %}

{% block extra_js %}
{% endblock %}

{% block content %}
    {% if is_mobile %}
    <div style="margin:10px;" class="clearfix">
        <h2 id="suggest_header" class="suggest-header pull-left" style="width:auto;">Report a Problem</h2>
        <div class="pull-right" style="display:inline-block;margin-top:8px;">
            <a href='{{ back }}' title="back" ><img id="back_to_space_button" src="{{ STATIC_URL }}img/details_arrow.png" alt="Back" /></a>
        </div>
    </div>
    {% else %}
    <div id="nav" style="position:relative;">
        <div class="logo-container clearfix">
            <div class="logo"><h1 class="visuallyhidden">SPACESCOUT&trade;</h1></div>
            <div class="actions">
                <a href='{{ back }}' title="back" id="cookieSet"><img id="back_to_space_button" src="{{ STATIC_URL }}img/details_arrow.png" alt="Back"/></button></a>
            </div>
        </div>
    </div>
    {% endif %}

    <div {% if is_mobile %}style="margin:10px; background:#fff;" {% else %}id="main_content" style="padding: 80px;"{% endif %} role="main" aria-labelledby="suggest_header">
        {% block suggest-content %}{% endblock %}
    </div>
{% endblock %}
