{% load i18n %}
{% load templatetag_handlebars %}


{% tplhandlebars "space_reviews" %}
  <div class="reviews-section-header">
    <h3>Reviews for this space</h3>
    <button id="Write_Review_btn" class="write-a-review add-a-review" type="button" aria-label="Write a review" aria-owns="WriteReview_container" style="display: none;" title="Click to write a review for this space"><i class="fa fa-pencil"></i> {% trans 'write_review' %}</button>
  </div>
  <div id="WriteReview_container" aria-labelledby="Write_Review_header" class="space-review-compose" style="display: none;">

  <!-- CHANGE TO FORM -->
    <h4 id="Write_Review_header">Write a review</h4>
    
<!-- change to radio form -->
    
    <fieldset class="space-review-rating" required="required"> 
      <legend id="Rate_header" class="rate-subhead">Rate this space (Required)</legend>
      <ol>
        <li><input type="radio" name="star-rating" id="one-star" value="1" title="Click to rate this one star, I won't be back"><label for="one-star"><i class="fa fa-star-o"></i></label></li>
        <li><input type="radio" name="star-rating" id="two-star" value="2" title="Click to rate this two stars, I dislike it"><label for="two-star"><i class="fa fa-star-o"></i></label></li>
        <li><input type="radio" name="star-rating" id="three-star" value="3" title="Click to rate this three stars, It's OK"><label for="three-star"><i class="fa fa-star-o"></i></label></li>
        <li><input type="radio" name="star-rating" id="four-star" value="4" title="Click to rate this four stars, I like it"><label for="four-star"><i class="fa fa-star-o"></i></label></li>
        <li><input type="radio" name="star-rating" id="five-star" value="5" title="Click to rate this five stars, I love it"><label for="five-star"><i class="fa fa-star-o"></i></label></li>
      </ol>
      <span>&nbsp;</span>
    </fieldset> 

      <div id="Char_counter" class="space-review-chars" role="status">
        <strong><span id="space-review-remaining">300</span></strong> characters left
      </div>
    <!-- REVIEW COMMENT -->
    <label for="Review_comment" class="visuallyhidden">Enter your review</label>
    <textarea id="Review_comment" name="Review_comment" placeholder="Review is required. Please explain your star rating." maxlength="300" required="required"></textarea>   
    
    <a id="review_guidelines" href="javascript:void(0);" title="Click to see review guidelines"><i class="fa fa-angle-double-down"></i> Review Guidelines</a>
    
    <ul style="display: none;">
      <li>Explain your star rating—why you liked or disliked the space. </li>
      <li>Be polite—no profanity.</li>
      <li>Remember, your UW NetID will appear as the reviewer name.</li>
    </ul>
     
   <strong>Note:</strong> Your review will be published in 2-3 days if it meets review guidelines.
	<br><br>
	
	<!-- buttons -->
<div>
      <button id="space-review-submit" class="btn primary-button" title="Submit your review and rating" disabled="disabled">Submit</button>
      <button id="space-review-cancel" title="Cancel writing review">Cancel</button>
</div>
  
 </div>
  
  <div class="space-review-submitted border-rounded" style="display: none;">
    <strong>Thank you for submitting a review!</strong><br />
    You will receive an email once your submission has been reviewed; please allow three business days. 
    <a href="javascript:void(0);">{% trans 'Close' %}</a>
  </div>
  <ol class="space-reviews-content"></ol>
{% endtplhandlebars %}

{% tplhandlebars "no_space_reviews" %}
    <div class="space-reviews-none border-rounded">
      Be the first to write a review for this space.
      <br />
      <button id="Write_Review_btn" class="write-a-review" title="Click to write a review for this space" type="button" aria-owns="WriteReview_container" ><i class="fa fa-pencil"></i>{% trans 'write_review' %}</button>
    </div>
{% endtplhandlebars %}

{% tplhandlebars "space_reviews_review" %}
    <li class="space-reviews-review">
      <div class="space-review-header">
        <span>
	      <i class="fa fa-star-o fa-lg"></i>
	      <i class="fa fa-star-o fa-lg"></i>
	      <i class="fa fa-star-o fa-lg"></i>
	      <i class="fa fa-star-o fa-lg"></i>
	      <i class="fa fa-star-o fa-lg"></i>
        </span>
        <span id="space-rating-text" class="visuallyhidden">{{ rating_description }}</span>
        <span>By <strong>{{ reviewer }}</strong> <span id="review-date" class="visuallyhidden">on</span> - {{ date }}</span>
      </div>
      <div class="space-review-body">
        {{ review }}
      </div>
    </li>
{% endtplhandlebars %}

{% tplhandlebars "rating_description_one_star" %}
Rating: 1 out of 5 stars.
{% endtplhandlebars %}

{% tplhandlebars "rating_description_two_star" %}
Rating: 2 out of 5 stars. 
{% endtplhandlebars %}

{% tplhandlebars "rating_description_three_star" %}
Rating: 3 out of 5 stars.
{% endtplhandlebars %}

{% tplhandlebars "rating_description_four_star" %}
Rating: 4 out of 5 stars.
{% endtplhandlebars %}

{% tplhandlebars "rating_description_five_star" %}
Rating: 5 out of 5 stars. 
{% endtplhandlebars %}

{% tplhandlebars "space_reviews_count" %}
({{ count }})
{% endtplhandlebars %}

{% tplhandlebars "space_average_rating" %}
Average rating is {{ decimal }} {{ fraction }} star{{ star_plural }} out of five, based on {{ total }} review{{ total_plural }}
{% endtplhandlebars %}

{% tplhandlebars "more_space_reviews" %}
    <li class="more-space-reviews">
      <a href="javascript:void(0);" title="Click to see more reviews"><i class="fa fa-angle-double-down"></i> See more reviews</a>
    </li>
{% endtplhandlebars %}
